Repository sermant-io/Sermant, pull requests merged in 2022-11, with the labels that each got.

#905 【fix】yaml文件支持配置空值
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/config/LoadYamlStrategy.java
Labels: kind/enhancement, area/core, lgtm

#887 【feature】resttemplate、jdk http、dubbo标记传递增强
  sermant-plugins/sermant-router/config/config.yaml
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/service/AbstractDirectoryServiceImpl.java
  sermant-plugins/sermant-router/router-common/src/main/java/com/huaweicloud/sermant/router/common/config/RouterConfig.java
  sermant-plugins/sermant-router/router-common/src/main/java/com/huaweicloud/sermant/router/common/utils/FlowContextUtils.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/declarer/HttpUrlConnectionConnectDeclarer.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/declarer/RestTemplateDeclarer.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/declarer/SpringBootLoadClassDeclarer.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/FeignClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/HttpClient4xInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/HttpUrlConnectionConnectInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/OkHttp3ClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/OkHttpClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/RestTemplateInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/SpringBootLoadClassInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/wrapper/RequestCallbackWrapper.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/FeignClientInterceptorTest.java
Labels: kind/feature, lgtm

#911 【fix】Optimize the spring boot plugin
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/entity/SimpleRequestRecorder.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/RequestInterceptorUtils.java
Labels: kind/enhancement, lgtm, area/plugin

#907 backen-lite docker和deployment模板
  sermant-backend-lite/deployment/deployment.yaml
  sermant-backend-lite/image/Dockerfile
  sermant-backend-lite/image/start.sh
  sermant-backend-lite/pom.xml
  sermant-backend-lite/src/main/webapp/sermant-frontend/src/assets/logo.svg
Labels: kind/enhancement, lgtm

#917 【enhancement】Optimize the router plugin
  sermant-plugins/sermant-router/router-common/src/main/java/com/huaweicloud/sermant/router/common/utils/ReflectUtils.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/strategy/AbstractRuleStrategy.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/FeignClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/FeignClientInterceptorTest.java
Labels: kind/enhancement, lgtm, area/plugin

#923 【enhance】change feign interceptor points to adapt and optimize the retry logic
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/FeignInvokeDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttp3ClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttpClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/retry/DefaultRetryImpl.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/retry/Retry.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/retry/RetryException.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/service/InvokerService.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/httpclient/HttpClient4xInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/retry/RetryServiceImpl.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/test/java/com/huawei/discovery/service/retry/RetryServiceImplTest.java
Labels: kind/enhancement, lgtm, area/plugin

#933 【Enhancement】injector compatible with k8s 1.15+
  docs/user-guide/injector-zh.md
  docs/user-guide/injector.md
  sermant-injector/deployment/release/injector/Chart.yaml
  sermant-injector/deployment/release/injector/templates/sermant-injector-configmap.yaml
  sermant-injector/deployment/release/injector/templates/sermant-injector-deployment.yaml
  sermant-injector/deployment/release/injector/templates/sermant-injector-service.yaml
  sermant-injector/deployment/release/injector/templates/sermant-injector-webhook.yaml
  sermant-injector/deployment/release/injector/values.yaml
  sermant-injector/deployment/release/injector_k8s_1.19+/templates/sermant-injector-webhook.yaml
  sermant-injector/deployment/release/injector_k8s_1.21-/Chart.yaml
  sermant-injector/deployment/release/injector_k8s_1.21-/templates/sermant-injector-configmap.yaml
  sermant-injector/deployment/release/injector_k8s_1.21-/templates/sermant-injector-deployment.yaml
  sermant-injector/deployment/release/injector_k8s_1.21-/templates/sermant-injector-service.yaml
  sermant-injector/deployment/release/injector_k8s_1.21-/values.yaml
  sermant-injector/scripts/certificate.sh
  sermant-injector/scripts/certificate_k8s_1.21-/certificate.sh
Labels: kind/enhancement, docs, lgtm, area/injector

#919 【enhance】Add switch for springboot registry plugin and optimize it
  .github/workflows/intergration_spring_test.yml
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/utils/ReflectUtils.java
  sermant-agentcore/sermant-agentcore-core/src/test/java/com/huaweicloud/sermant/core/utils/ReflectUtilsTest.java
  sermant-plugins/sermant-springboot-registry/config/config.yaml
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/config/DiscoveryPluginConfig.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/config/EffectStategyDynamicConfigListener.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/config/LbConfig.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/BaseDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/FeignInvokeDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/OkHttp3ClientDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/OkHttpClientDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/RestTemplateDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/SpringBootDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/SpringEnvironmentInfoDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/httpclient/HttpAsyncClient4xDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/httpclient/HttpAsyncClient4xHandlerDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/httpclient/HttpClient4xDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/httpconnection/HttpUrlConnectionConnectDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/httpconnection/HttpUrlConnectionResponseStreamDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/entity/ErrorCloseableHttpResponse.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/entity/FutureDecorator.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/entity/HttpAsyncInvokerResult.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/entity/PlugEffectStrategyCache.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/FeignInvokeInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpAsyncClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpconnection/HttpUrlConnectionConnectInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpconnection/HttpUrlConnectionResponseStreamInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/retry/DefaultRetryImpl.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/service/ConfigCenterService.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/HttpConstants.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/PlugEffectWhiteBlackUtils.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/RequestInterceptorUtils.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/entity/FutureDecoratorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/entity/PlugEffectStrategyCacheTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/BaseTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/FeignInvokeInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/OkHttp3ClientInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/OkHttpClientInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/RestTemplateInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/httpclient/HttpAsyncClient4xInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/httpclient/HttpClient4xInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/lb/LbServiceImpl.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/lb/discovery/zk/ZkClient.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/retry/RetryServiceImpl.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/test/java/com/huawei/discovery/service/lb/discovery/zk/ZkDiscoveryClientTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/test/java/com/huawei/discovery/service/lb/rule/BaseTest.java
Labels: kind/enhancement, lgtm, area/plugin

#937 Modify security issues
  sermant-plugins/sermant-loadbalancer/loadbalancer-service/src/main/java/com/huaweicloud/loadbalancer/YamlRuleConverter.java
  sermant-plugins/sermant-loadbalancer/loadbalancer-service/src/main/java/com/huaweicloud/loadbalancer/common/SafeConstructor.java
  sermant-plugins/sermant-monitor/config/config.yaml
  sermant-plugins/sermant-monitor/monitor-plugin/src/main/java/com/huawei/monitor/config/MonitorServiceConfig.java
  sermant-plugins/sermant-monitor/monitor-service/src/main/java/com/huawei/monitor/service/report/PrometheusMetricServiceImpl.java
  sermant-plugins/sermant-router/router-config-service/src/main/java/com/huaweicloud/sermant/router/config/common/SafeConstructor.java
  sermant-plugins/sermant-router/router-config-service/src/main/java/com/huaweicloud/sermant/router/config/handler/AbstractConfigHandler.java
Labels: kind/enhancement, lgtm

#942 【enhance】reorganize project profile
  .github/workflows/integration_test.yml
  .github/workflows/intergration_spring_test.yml
  docs/dev-guide/dev_plugin_module-zh.md
  docs/dev-guide/dev_plugin_module.md
  pom.xml
  sermant-agentcore/pom.xml
  sermant-agentcore/sermant-agentcore-config/config/all/config.properties
  sermant-agentcore/sermant-agentcore-config/config/all/plugins.yaml
  sermant-agentcore/sermant-agentcore-config/config/test/config.properties
  sermant-agentcore/sermant-agentcore-config/config/test/plugins.yaml
  sermant-agentcore/sermant-agentcore-config/pom.xml
  sermant-agentcore/sermant-agentcore-core/pom.xml
  sermant-agentcore/sermant-agentcore-implement/pom.xml
  sermant-agentcore/sermant-agentcore-premain/pom.xml
  sermant-backend-lite/pom.xml
  sermant-backend/pom.xml
  sermant-example/pom.xml
  sermant-plugins/pom.xml
  sermant-plugins/sermant-dynamic-config/pom.xml
  sermant-plugins/sermant-flowcontrol/pom.xml
  sermant-plugins/sermant-loadbalancer/pom.xml
  sermant-plugins/sermant-monitor/pom.xml
  sermant-plugins/sermant-mq-consume-deny/pom.xml
  sermant-plugins/sermant-router/pom.xml
  sermant-plugins/sermant-server-monitor/pom.xml
  sermant-plugins/sermant-service-registry/pom.xml
  sermant-plugins/sermant-springboot-registry/pom.xml
  sermant-plugins/sermant-threadlocal/pom.xml
Labels: kind/enhancement, lgtm

#951 【fix】fix the close bug for docker
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/SpringContextDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/SpringCloseEventInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/service/RegistryService.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/SpringCloseEventInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/lb/LbServiceImpl.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/registry/RegistryImpl.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/test/java/com/huawei/discovery/service/lb/LbServiceImplTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/test/java/com/huawei/discovery/service/registry/RegistryImplTest.java
Labels: kind/bug, lgtm, area/plugin

#955 【test】auto test for spring graceful
  .github/actions/scenarios/graceful/action.yml
  .github/workflows/intergration_spring_test.yml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign-1.5.x/feign-api-1.5.x/src/main/java/com/huaweicloud/spring/feign/api/Feign15xService.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign-1.5.x/feign-consumer-1.5.x/src/main/java/com/huaweicloud/spring/feign/consumer/controller/GracefulController.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-api/src/main/java/com/huaweicloud/spring/feign/api/FeignService.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-consumer/src/main/java/com/huaweicloud/spring/feign/consumer/controller/GracefulController.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-resttemplate/rest-consumer/src/main/java/com/huaweicloud/spring/rest/consumer/FlowcontrolConiguration.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-resttemplate/rest-consumer/src/main/java/com/huaweicloud/spring/rest/consumer/GracefulController.java
  sermant-integration-tests/spring-test/spring-common/src/main/java/com/huaweicloud/spring/common/flowcontrol/provider/ProviderController.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/common/rule/SermantTestType.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/graceful/FeignGracefulTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/graceful/GracefulRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/graceful/GracefulTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/graceful/RestGracefulTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/graceful/package-info.java
Labels: lgtm, area/plugin, area/test

#945 【test】Auto test for sermant router plugin
  .github/workflows/intergration_spring_test.yml
  sermant-injector/scripts/certificate.sh
  sermant-integration-tests/spring-test/pom.xml
  sermant-integration-tests/spring-test/spring-common-demos/pom.xml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign-1.5.x/feign-provider-1.5.x/src/main/java/com/huaweicloud/spring/feign/provider/Feign15xServiceImpl.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign-1.5.x/pom.xml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-provider/src/main/java/com/huaweicloud/spring/feign/provider/FeignServiceImpl.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/pom.xml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-gateway/pom.xml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-gateway/src/main/java/com/huaweicloud/spring/gateway/GatewayApplication.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-gateway/src/main/resources/application.yaml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-resttemplate/pom.xml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-resttemplate/rest-provider/src/main/java/com/huaweicloud/spring/rest/provider/RouterController.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-zuul/pom.xml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-zuul/src/main/java/com/huaweicloud/spring/zuul/ZuulApplication.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-zuul/src/main/resources/application.yml
  sermant-integration-tests/spring-test/spring-common/pom.xml
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/common/rule/SermantTestType.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/router/RouterTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/router/TagRouterConfigRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/router/TagRouterConfigTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/router/TagRouterRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/router/TagRouterTest.java
  sermant-integration-tests/spring-test/spring-nacos-config/pom.xml
  sermant-integration-tests/spring-test/spring-zookeeper-config/pom.xml
Labels: area/plugin, area/test

#956 【fix】修复增强类与cglib冲突的bug
  sermant-agentcore/sermant-agentcore-config/config/config.properties
  sermant-agentcore/sermant-agentcore-config/config/test/config.properties
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/BufferedAgentBuilder.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/config/AgentConfig.java
Labels: kind/bug, area/core, lgtm

#960 【fix】fix bug for springboot registry plugin
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/FeignInvokeInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttp3ClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttpClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/RestTemplateInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpAsyncClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpconnection/HttpUrlConnectionConnectInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/PlugEffectWhiteBlackUtils.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/RequestInterceptorUtils.java
Labels: kind/bug, lgtm, area/plugin

#947 【feature】增加spring-cloud框架注册nacos的能力
  LICENSE
  docs/user-guide/registry/document-zh.md
  docs/user-guide/registry/document.md
  docs/user-guide/registry/spring-cloud-registry-migiration-zh.md
  docs/user-guide/registry/spring-cloud-registry-migiration.md
  sermant-plugins/sermant-service-registry/config/config.yaml
  sermant-plugins/sermant-service-registry/pom.xml
  sermant-plugins/sermant-service-registry/registry-common/src/main/java/com/huawei/registry/config/NacosRegisterConfig.java
  sermant-plugins/sermant-service-registry/registry-common/src/main/java/com/huawei/registry/config/PropertyKeyConst.java
  sermant-plugins/sermant-service-registry/registry-common/src/main/java/com/huawei/registry/config/RegisterConfig.java
  sermant-plugins/sermant-service-registry/registry-common/src/main/java/com/huawei/registry/config/RegisterServiceCommonConfig.java
  sermant-plugins/sermant-service-registry/registry-common/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.config.PluginConfig
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/pom.xml
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/config/RegistryConfigSubscribeServiceImpl.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/pom.xml
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/cache/ServiceCache.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/client/NacosClient.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/client/NacosServiceDiscovery.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/register/NacosRegister.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/register/NacosServiceInstance.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/register/NacosServiceManager.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/register/RegisterManager.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/resources/META-INF/services/com.huawei.registry.service.register.Register
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/cache/ServiceCacheTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/client/BaseTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/client/NacosClientTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/client/NacosDiscoveryTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/impl/RegisterCenterServiceImplTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/register/NacosRegisterTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/register/NacosServiceManagerTest.java
Labels: kind/enhancement, lgtm

#964 【fix】fix the bug that feign protocol may not effect when use spring boot registry plugin
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/FeignInvokeInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttp3ClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttpClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/RestTemplateInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpAsyncClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpconnection/HttpUrlConnectionConnectInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpconnection/HttpUrlConnectionResponseStreamInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/HttpConstants.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/RequestInterceptorUtils.java
Labels: kind/bug, lgtm, area/plugin

#970 【fix】fix bug for spring boot registry plugin
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/RequestInterceptorUtils.java
Labels: kind/bug, lgtm, area/plugin

#973 【doc】add auto test doc
  .github/workflows/dubbo_integration_test.yml
  .github/workflows/spring_integration_test_1.yml
  .github/workflows/spring_integration_test_2.yml
  sermant-integration-tests/README-zh.md
  sermant-integration-tests/README.md
  sermant-plugins/sermant-flowcontrol/flowcontrol-service/src/main/java/com/huawei/fowcontrol/res4j/chain/context/ChainContext.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-service/src/test/java/com/huawei/fowcontrol/res4j/chain/HandlerChainEntryTest.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-service/src/test/java/com/huawei/fowcontrol/res4j/chain/context/ChainContextTest.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-service/src/test/java/com/huawei/fowcontrol/res4j/chain/handler/RequestHandlerTest.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-service/src/test/java/com/huawei/fowcontrol/res4j/service/DubboRest4jServiceImplTest.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-service/src/test/java/com/huawei/fowcontrol/res4j/service/HttpRest4jServiceImplTest.java
Labels: docs, lgtm, area/test

#972 【fix】处理因插件多次订阅初始化问题导致动态配置插件不能及时刷新宿主配置
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/dynamicconfig/kie/client/kie/KieListenerWrapper.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/dynamicconfig/kie/listener/KvDataHolder.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/dynamicconfig/kie/listener/SubscriberManager.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/main/java/com/huawei/dynamic/config/source/OriginConfigCenterDisableListener.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/main/java/com/huawei/dynamic/config/source/SpringEventPublisher.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/source/OriginConfigCenterDisableListenerTest.java
Labels: kind/bug, lgtm, area/plugin

#987 【enhance】Optimzie auto test
  .github/actions/common/plugin-change-check/action.yml
  .github/workflows/Codecov.yml
  .github/workflows/dubbo_integration_test.yml
  .github/workflows/maven.yml
  .github/workflows/spring_integration_test_1.yml
  .github/workflows/spring_integration_test_2.yml
  sermant-integration-tests/README-zh.md
  sermant-integration-tests/README.md
Labels: docs, lgtm, area/test

#989 【fix】系统类增强优化，修复系统类增强不能修改返回结果的问题
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/BootstrapConstTemplate.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/BootstrapMemberTemplate.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/BootstrapStaticTemplate.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/transformer/BootstrapTransformer.java
Labels: kind/bug, area/core, lgtm

#985 【fix】启动参数支持索引环境变量
  sermant-agentcore/sermant-agentcore-premain/pom.xml
  sermant-agentcore/sermant-agentcore-premain/src/main/java/com/huawei/sermant/premain/common/BootArgsBuilder.java
  sermant-agentcore/sermant-agentcore-premain/src/test/java/com/huawei/sermant/premain/common/BootArgsBuilderTest.java
Labels: kind/bug, area/core, lgtm

#991 【fix】修复自动化测试分组问题
  .github/workflows/Codecov.yml
  .github/workflows/dubbo_integration_test.yml
  .github/workflows/maven.yml
  .github/workflows/spring_integration_test_1.yml
  .github/workflows/spring_integration_test_2.yml
  sermant-integration-tests/README-zh.md
  sermant-integration-tests/README.md
Labels: kind/bug, docs, lgtm, area/test

#983 【test】增加监控插件的自动化测试
  .github/actions/common/plugin-change-check/action.yml
  .github/actions/scenarios/dubbo/monitor/action.yml
  .github/actions/scenarios/spring/monitor/action.yml
  .github/workflows/dubbo_integration_test.yml
  .github/workflows/spring_integration_test_1.yml
  sermant-integration-tests/dubbo-test/dubbo-integration-test/src/test/java/com/huaweicloud/integration/common/MetricEnum.java
  sermant-integration-tests/dubbo-test/dubbo-integration-test/src/test/java/com/huaweicloud/integration/monitor/MonitorTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/common/MetricEnum.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/common/rule/SermantTestType.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/monitor/MonitorControlTestRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/monitor/MonitorTest.java
  sermant-plugins/sermant-monitor/monitor-service/src/main/java/com/huawei/monitor/service/report/MetricServiceImpl.java
  sermant-plugins/sermant-monitor/monitor-service/src/main/java/com/huawei/monitor/service/report/PrometheusMetricServiceImpl.java
Labels: lgtm, area/plugin, area/test

#998 【feature】优化发布流水线
  .github/workflows/create_release.yml
  .github/workflows/publish_maven_central_warehouse.yml
Labels: lgtm, action
