Repository sermant-io/Sermant, pull requests merged in 2022-10, with the labels that each got.

#799 【bug】fix “When run in IDE, service-registry plugin occurs： java.lang.LinkageError.”
  sermant-plugins/sermant-flowcontrol/flowcontrol-service/pom.xml
  sermant-plugins/sermant-service-registry/dubbo-registry-service/pom.xml
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/pom.xml
Labels: kind/enhancement

#805 change release version
  .github/workflows/create_release.yml
Labels: release

#813 【BUG】fix bugs about jackson-databind
  sermant-plugins/sermant-flowcontrol/flowcontrol-service/pom.xml
Labels: kind/enhancement

#811 【fix】resolve path traversal risk
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/classloader/ClassLoaderManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/common/BootArgsIndexer.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/BufferedAgentBuilder.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/utils/FileUtils.java
  sermant-agentcore/sermant-agentcore-core/src/test/java/com/huaweicloud/sermant/core/utils/FileUtilsTest.java
Labels: kind/enhancement

#807 【BUG】fix bugs about netty and snakeyaml
  pom.xml
Labels: kind/bug, lgtm

#803 aggregate codecov report
  .github/workflows/Codecov.yml
  codecov.yml
  pom.xml
  report/pom.xml
Labels: kind/enhancement, lgtm

#823 【bug】修复injector无法工作的bug
  sermant-injector/deployment/release/injector_k8s_1.19+/templates/sermant-injector-deployment.yaml
  sermant-injector/deployment/release/injector_k8s_1.21-/templates/sermant-injector-deployment.yaml
  sermant-injector/src/main/java/com/huaweicloud/sermant/injection/controller/SermantInjectionController.java
  sermant-injector/src/main/resources/application.yml
Labels: kind/bug, lgtm, area/injector

#821 【bug】修复纯springboot应用使用注册插件无法监听配置的bug
  sermant-agentcore/sermant-agentcore-config/config/config.properties
  sermant-plugins/sermant-router/router-config-service/src/main/java/com/huaweicloud/sermant/router/config/handler/EnabledStrategyHandler.java
  sermant-plugins/sermant-router/router-config-service/src/main/java/com/huaweicloud/sermant/router/config/service/ConfigService.java
  sermant-plugins/sermant-router/router-config-service/src/test/java/com/huaweicloud/sermant/router/config/handler/EnabledStrategyHandlerTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/declarer/DiscoveryManagerDeclarer.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/DiscoveryManagerInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/DiscoveryManagerInterceptorTest.java
Labels: kind/bug, lgtm, area/plugin

#819 【fix】修改集成测试中出现的问题
  sermant-agentcore/sermant-agentcore-config/config/logback.xml
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/classloader/FrameworkClassLoader.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/common/BootArgsIndexer.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/common/LoggerFactory.java
  sermant-agentcore/sermant-agentcore-implement/src/main/resources/logback.xml
  sermant-agentcore/sermant-agentcore-premain/src/main/java/com/huawei/sermant/premain/AgentPremain.java
  sermant-agentcore/sermant-agentcore-premain/src/main/java/com/huawei/sermant/premain/common/BootArgsBuilder.java
Labels: kind/bug, kind/enhancement, lgtm

#825 【BUG】Release add implement module
  sermant-agentcore/pom.xml
Labels: kind/bug, lgtm

#817 【feature】kakfa、rabbitmq禁消费插件开发
  sermant-agentcore/sermant-agentcore-config/config/plugins.yaml
  sermant-plugins/pom.xml
  sermant-plugins/sermant-message/config/config.yaml
  sermant-plugins/sermant-message/kafka-consumer-plugin/pom.xml
  sermant-plugins/sermant-message/kafka-consumer-plugin/src/main/java/com/huaweicloud/sermant/kafka/declarer/KafkaConsumerDeclarer.java
  sermant-plugins/sermant-message/kafka-consumer-plugin/src/main/java/com/huaweicloud/sermant/kafka/interceptor/KafkaConsumerConstructorInterceptor.java
  sermant-plugins/sermant-message/kafka-consumer-plugin/src/main/java/com/huaweicloud/sermant/kafka/interceptor/KafkaConsumerMethodInterceptor.java
  sermant-plugins/sermant-message/kafka-consumer-plugin/src/main/java/com/huaweicloud/sermant/kafka/matcher/KafkaConsumerMethodMatcher.java
  sermant-plugins/sermant-message/kafka-consumer-plugin/src/main/java/com/huaweicloud/sermant/kafka/mock/MockKafkaConsumer.java
  sermant-plugins/sermant-message/kafka-consumer-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-plugins/sermant-message/message-common/pom.xml
  sermant-plugins/sermant-message/message-common/src/main/java/com/huaweicloud/sermant/message/common/config/DenyConsumeConfig.java
  sermant-plugins/sermant-message/message-common/src/main/java/com/huaweicloud/sermant/message/common/utils/MockUtils.java
  sermant-plugins/sermant-message/message-common/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.config.PluginConfig
  sermant-plugins/sermant-message/pom.xml
  sermant-plugins/sermant-message/rabbitmq-consumer-plugin/pom.xml
  sermant-plugins/sermant-message/rabbitmq-consumer-plugin/src/main/java/com/huaweicloud/sermant/rabbitmq/declarer/RabbitmqChannelDeclarer.java
  sermant-plugins/sermant-message/rabbitmq-consumer-plugin/src/main/java/com/huaweicloud/sermant/rabbitmq/interceptor/RabbitmqChannelInterceptor.java
  sermant-plugins/sermant-message/rabbitmq-consumer-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
Labels: area/plugin

#831 Add test profile and config for springboot-registry and router
  .github/workflows/create_release.yml
  pom.xml
  sermant-agentcore/pom.xml
  sermant-agentcore/sermant-agentcore-config/config/test/config.properties
  sermant-agentcore/sermant-agentcore-config/config/test/plugins.yaml
  sermant-agentcore/sermant-agentcore-config/pom.xml
  sermant-plugins/pom.xml
Labels: release

#833 【bug】release no plugin
  sermant-plugins/pom.xml
Labels: kind/bug

#834 【fix】modify pom for mq-consume-deny
  sermant-plugins/sermant-mq-consume-deny/kafka-consumer-plugin/pom.xml
  sermant-plugins/sermant-mq-consume-deny/message-common/pom.xml
  sermant-plugins/sermant-mq-consume-deny/rabbitmq-consumer-plugin/pom.xml
Labels: lgtm, area/plugin

#836 【bug】fix registry plugin bugs
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/config/LbConfig.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/config/LbConstants.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/entity/SimpleRequestRecorder.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttp3ClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttpClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpAsyncClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/retry/DefaultRetryImpl.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/RequestInterceptorUtils.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/lb/stats/InstanceStats.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/retry/RetryServiceImpl.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/test/java/com/huawei/discovery/service/lb/stats/InstanceStatsTest.java
Labels: kind/bug, lgtm, area/plugin

#838 【bug】fix registry plugin bugs
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/PluginManager.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/FeignInvokeInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/RestTemplateInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/RestTemplateInterceptorTest.java
Labels: kind/bug, lgtm, area/plugin

#839 【fix】fix registry plugin bug
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/retry/RetryServiceImpl.java
Labels: kind/bug, area/plugin

#840 【bug】fix log print for registry plugin
  sermant-agentcore/sermant-agentcore-premain/src/main/java/com/huawei/sermant/premain/AgentPremain.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/retry/RetryConfig.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/RequestInterceptorUtils.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/lb/DiscoveryManager.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/retry/RetryServiceImpl.java
Labels: kind/bug, area/plugin

#841 【bug】修复feign/rest客户端不能向宿主抛异常的bug
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/entity/ExecuteContext.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/AdviceConstTemplate.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/AdviceMemberTemplate.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/AdviceStaticTemplate.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/CommonBaseAdviser.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/CommonConstAdviser.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/CommonMethodAdviser.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/FeignInvokeInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/RestTemplateInterceptor.java
Labels: kind/bug, kind/enhancement

#844 【bug】fix StringIndexOutOfBoundsException
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/RequestInterceptorUtils.java
Labels: kind/bug, lgtm, area/plugin

#843 【fix】fix bug for okhttpclient(state error), throw method exception then error
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/OkHttp3ClientDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/OkHttpClientDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttp3ClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttpClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/RequestInterceptorUtils.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/OkHttp3ClientInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/OkHttpClientInterceptorTest.java
Labels: kind/bug, area/plugin

#853 【fix】修复动态配置，配置项为list时，yaml会抛出解析错误的bug
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/subscribe/processor/ConfigOrderIntegratedProcessor.java
  sermant-plugins/sermant-router/router-config-service/src/main/java/com/huaweicloud/sermant/router/config/handler/RouterConfigHandler.java
  sermant-plugins/sermant-router/router-config-service/src/main/java/com/huaweicloud/sermant/router/config/handler/ServiceConfigHandler.java
  sermant-plugins/sermant-service-registry/dubbo-registry-service/src/main/java/com/huawei/dubbo/registry/listener/GovernanceConfigListener.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/config/RegistryConfigResolver.java
Labels: kind/bug, area/core, lgtm

#855 新增AgentBuilder构建忽略类型，FrameworkClassLoader加载的类不做增强
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/BufferedAgentBuilder.java
Labels: kind/enhancement, lgtm

#846 【Feature】ADD ZK AUTH INFO
  sermant-agentcore/sermant-agentcore-config/config/config.properties
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/service/dynamicconfig/config/DynamicConfig.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/utils/AesUtil.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/utils/RsaUtil.java
  sermant-agentcore/sermant-agentcore-core/src/test/java/com/huaweicloud/sermant/core/utils/AesUtilTest.java
  sermant-agentcore/sermant-agentcore-core/src/test/java/com/huaweicloud/sermant/core/utils/RsaUtilTest.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/dynamicconfig/zookeeper/ZooKeeperBufferedClient.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/dynamicconfig/zookeeper/ZooKeeperDynamicConfigService.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-common/src/main/java/com/huawei/flowcontrol/common/core/match/RequestMatcher.java
Labels: kind/feature

#856 implement module add shade plugin
  sermant-agentcore/sermant-agentcore-implement/pom.xml
Labels: kind/enhancement, lgtm

#851 【feature】Custom retry for SocketTimeoutException and TimeoutException; change response when not found provider instance
  sermant-agentcore/sermant-agentcore-config/config/config.properties
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/interceptor/ApplicationConfigInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/utils/SpringRouterUtils.java
  sermant-plugins/sermant-springboot-registry/config/config.yaml
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/config/LbConfig.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttp3ClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttpClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/SpringEnvironmentInfoInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpAsyncClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/retry/DefaultRetryImpl.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/retry/Retry.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/retry/RetryConfig.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/retry/config/DefaultRetryConfig.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/retry/config/RetryConfig.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/service/InvokerService.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/httpclient/HttpClient4xInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/retry/DefaultRetryConfigTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/retry/DefaultRetryImplTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/retry/RetryServiceImpl.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/test/java/com/huawei/discovery/service/retry/RetryServiceImplTest.java
Labels: kind/feature, lgtm, area/plugin

#858 【doc】add default zone for all env config.properties
  sermant-agentcore/sermant-agentcore-config/config/all/config.properties
  sermant-agentcore/sermant-agentcore-config/config/example/config.properties
  sermant-agentcore/sermant-agentcore-config/config/test/config.properties
Labels: documentation, lgtm

#862 modify zookeeper version
  pom.xml
  sermant-agentcore/sermant-agentcore-implement/pom.xml
Labels: kind/bug, lgtm

#864 【doc】add zone router doc
  docs/FAQ-zh.md
  docs/FAQ.md
  docs/user-guide/FAQ.md
  docs/user-guide/feature-list-zh.md
  docs/user-guide/feature-list.md
  docs/user-guide/registry/FAQ.md
  docs/user-guide/registry/spring-cloud-registry-migiration.md
  docs/user-guide/router/document-zh.md
  docs/user-guide/router/document.md
  docs/user-guide/router/zone-router-zh.md
  docs/user-guide/router/zone-router.md
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-provider/src/main/java/com/huaweicloud/integration/service/FooServiceImpl.java
  sermant-integration-tests/dubbo-test/dubbo-integration-test/src/test/java/com/huaweicloud/integration/router/ZoneRouterTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/interceptors/ZookeeperLocatorInterceptorTest.java
  sermant-plugins/sermant-router/config/config.yaml
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/strategy/rule/InvokerRuleStrategy.java
  sermant-plugins/sermant-router/router-common/src/main/java/com/huaweicloud/sermant/router/common/config/RouterConfig.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/strategy/AbstractRuleStrategy.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/NopInstanceFilterInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/NopInstanceFilterInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-service/src/main/java/com/huaweicloud/sermant/router/spring/strategy/rule/InstanceRuleStrategy.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/httpclient/HttpAsyncClient4xHandlerInterceptorTest.java
Labels: documentation, lgtm, area/plugin

#867 【fix】fix the point that can not interceptor for read timed out
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/httpconnection/HttpUrlConnectionResponseStreamDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpconnection/HttpUrlConnectionResponseStreamInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
Labels: kind/bug, lgtm

#869 修改日志配置消除冗余日志，针对日志类隔离，重写类加载器getResources方法
  sermant-agentcore/sermant-agentcore-config/config/logback.xml
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/classloader/FrameworkClassLoader.java
  sermant-agentcore/sermant-agentcore-implement/src/main/resources/logback.xml
  sermant-agentcore/sermant-agentcore-premain/src/main/java/com/huawei/sermant/premain/AgentPremain.java
Labels: kind/enhancement, lgtm

#875 【doc】add document of usage for springboot registry plugin
  docs/user-guide/feature-list-zh.md
  docs/user-guide/feature-list.md
  docs/user-guide/springboot-registry/document-zh.md
  docs/user-guide/springboot-registry/document.md
Labels: docs, area/plugin

#877 【enhance】Optimize the performance of springboot registry plugin
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/config/LbConfig.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/config/LbConstants.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/FeignInvokeInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/lb/cache/InstanceCacheManager.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/lb/discovery/zk/ZkClient.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/lb/discovery/zk/ZkDiscoveryClient.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/lb/discovery/zk/listen/ZkInstanceListenable.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.service.PluginService
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/test/java/com/huawei/discovery/service/lb/DiscoveryManagerTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/test/java/com/huawei/discovery/service/lb/LbServiceImplTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/test/java/com/huawei/discovery/service/lb/discovery/zk/ZkDiscoveryClientTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/test/java/com/huawei/discovery/service/lb/rule/BaseTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/test/java/com/huawei/discovery/service/retry/RetryServiceImplTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/test/java/com/huawei/discovery/service/retry/policy/RoundRobinRetryPolicyTest.java
Labels: kind/enhancement, lgtm, area/plugin

#880 [feat]okhttp,httpclient插件,将header中流量标识放入threadlocal.
  sermant-plugins/sermant-router/router-common/src/main/java/com/huaweicloud/sermant/router/common/utils/FlowContextUtils.java
  sermant-plugins/sermant-router/spring-router-plugin/pom.xml
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/declarer/HttpClient4xDeclarer.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/declarer/OkHttp3ClientDeclarer.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/declarer/OkHttpClientDeclarer.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/HttpClient4xInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/OkHttp3ClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/OkHttpClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/utils/RequestInterceptorUtils.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
Labels: kind/feature, lgtm, area/plugin

#885 【Enhance】add request router
  sermant-plugins/sermant-router/config/config.yaml
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/interceptor/ApplicationConfigInterceptor.java
  sermant-plugins/sermant-router/dubbo-router-service/pom.xml
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/service/AbstractDirectoryServiceImpl.java
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/strategy/RuleStrategyHandler.java
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/strategy/instance/MatchInstanceStrategy.java
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/strategy/instance/MismatchInstanceStrategy.java
  sermant-plugins/sermant-router/dubbo-router-service/src/test/java/com/huaweicloud/sermant/router/dubbo/ApacheInvoker.java
  sermant-plugins/sermant-router/dubbo-router-service/src/test/java/com/huaweicloud/sermant/router/dubbo/service/AbstractDirectoryServiceTest.java
  sermant-plugins/sermant-router/dubbo-router-service/src/test/java/com/huaweicloud/sermant/router/dubbo/strategy/RuleStrategyHandlerTest.java
  sermant-plugins/sermant-router/router-common/src/main/java/com/huaweicloud/sermant/router/common/config/RouterConfig.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/strategy/AbstractRuleStrategy.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/strategy/RuleStrategy.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/utils/RuleUtils.java
  sermant-plugins/sermant-router/router-config-service/pom.xml
  sermant-plugins/sermant-router/router-config-service/src/main/java/com/huaweicloud/sermant/router/config/service/ConfigService.java
  sermant-plugins/sermant-router/router-config-service/src/main/java/com/huaweicloud/sermant/router/config/service/SpringConfigServiceImpl.java
  sermant-plugins/sermant-router/router-config-service/src/test/java/com/huaweicloud/sermant/router/config/service/ConfigServiceTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/BaseLoadBalancerInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/DiscoveryManagerInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/NopInstanceFilterInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/ServiceInstanceListSupplierInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/service/SpringConfigService.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/utils/SpringRouterUtils.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/AbstractHandlerMappingInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/BaseLoadBalancerInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/DiscoveryManagerInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/HandlerExecutionChainInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/NopInstanceFilterInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/RouteHandlerInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/ServiceInstanceListSupplierInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/TestSpringConfigService.java
  sermant-plugins/sermant-router/spring-router-service/pom.xml
  sermant-plugins/sermant-router/spring-router-service/src/main/java/com/huaweicloud/sermant/router/spring/service/LoadBalancerServiceImpl.java
  sermant-plugins/sermant-router/spring-router-service/src/main/java/com/huaweicloud/sermant/router/spring/strategy/RuleStrategyHandler.java
  sermant-plugins/sermant-router/spring-router-service/src/main/java/com/huaweicloud/sermant/router/spring/strategy/instance/MismatchInstanceStrategy.java
  sermant-plugins/sermant-router/spring-router-service/src/test/java/com/huaweicloud/sermant/router/spring/TestDefaultServiceInstance.java
  sermant-plugins/sermant-router/spring-router-service/src/test/java/com/huaweicloud/sermant/router/spring/service/LoadBalancerServiceTest.java
  sermant-plugins/sermant-router/spring-router-service/src/test/java/com/huaweicloud/sermant/router/spring/strategy/RuleStrategyHandlerTest.java
Labels: kind/enhancement, lgtm, area/plugin

#883 【test】spring boot registry plugin auto test
  .github/workflows/intergration_spring_test.yml
  sermant-integration-tests/spring-test/pom.xml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign-1.5.x/feign-api-1.5.x/src/main/java/com/huaweicloud/spring/feign/api/BootRegistryService.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign-1.5.x/feign-consumer-1.5.x/src/main/java/com/huaweicloud/spring/feign/consumer/controller/BootRegistryController.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign-1.5.x/feign-provider-1.5.x/src/main/java/com/huaweicloud/spring/feign/provider/FlowControlServiceImpl.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-api/src/main/java/com/huaweicloud/spring/feign/api/BootRegistryService.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-consumer/src/main/java/com/huaweicloud/spring/feign/consumer/controller/BootRegistryController.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-provider/src/main/java/com/huaweicloud/spring/feign/provider/FlowControlServiceImpl.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-resttemplate/rest-consumer/pom.xml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-resttemplate/rest-consumer/src/main/java/com/huaweicloud/spring/rest/consumer/BootRegistryHttpClientController.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-resttemplate/rest-consumer/src/main/java/com/huaweicloud/spring/rest/consumer/BootRegistryOkHttpClientController.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-resttemplate/rest-consumer/src/main/java/com/huaweicloud/spring/rest/consumer/ClientConfiguration.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-resttemplate/rest-consumer/src/main/java/com/huaweicloud/spring/rest/consumer/RestConsumerApplication.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-resttemplate/rest-provider/src/main/java/com/huaweicloud/spring/rest/provider/RestProviderApplication.java
  sermant-integration-tests/spring-test/spring-common/src/main/java/com/huaweicloud/spring/common/BootRegistryConstants.java
  sermant-integration-tests/spring-test/spring-common/src/main/java/com/huaweicloud/spring/common/flowcontrol/provider/ProviderClientController.java
  sermant-integration-tests/spring-test/spring-common/src/main/java/com/huaweicloud/spring/common/flowcontrol/provider/ProviderController.java
  sermant-integration-tests/spring-test/spring-common/src/main/java/com/huaweicloud/spring/common/registry/common/RegistryConstants.java
  sermant-integration-tests/spring-test/spring-common/src/main/java/com/huaweicloud/spring/common/registry/consumer/BootRegistryController.java
  sermant-integration-tests/spring-test/spring-common/src/main/java/com/huaweicloud/spring/common/registry/provider/RegistryProviderController.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/common/rule/SermantTestType.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/common/utils/RequestUtils.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/BootRegistryRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/BootRegistryTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/ConfigGlobalStatus.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/FeignBootRegistryTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/HttpClientBootRegistryTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/OkClientBootRegistryTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/RestBootRegistryTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/UrlConnectionBootRegistryTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/OkHttp3ClientDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/FeignInvokeInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/OkHttp3ClientInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/OkHttpClientInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/RestTemplateInterceptorTest.java
Labels: lgtm, area/plugin, area/test

#891 修改打印具体异常信息
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/classloader/ClassLoaderManager.java
  sermant-agentcore/sermant-agentcore-premain/src/main/java/com/huawei/sermant/premain/AgentPremain.java
Labels: kind/enhancement, lgtm

#899 【fix】Fix the bug that when the controller of spring-cloud-gateway calls the dubbo interface, the headers cannot be passed.
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/declarer/ControllerDeclarer.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/AbstractHandlerMappingInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/ControllerInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/AbstractHandlerMappingInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/ControllerInterceptorTest.java
Labels: kind/bug, lgtm, area/plugin

#897 【feature】backend-lite
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/common/BootArgsIndexer.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/service/heartbeat/common/HeartbeatMessage.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/send/NettyClient.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/cache/HeartbeatCache.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/config/WebConfig.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/controller/HeartBeatInfoController.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/entity/HeartbeatMessage.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/entity/PluginInfo.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/service/BaseHandler.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/service/NettyServer.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/service/ServerHandler.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/timer/DeleteTimeoutDataTask.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/utils/DateUtil.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/utils/GzipUtils.java
  sermant-backend-lite/src/main/resources/logback.xml
  sermant-backend-lite/src/main/webapp/sermant-frontend/index.html
  sermant-backend-lite/src/main/webapp/sermant-frontend/src/assets/img/sermant-logo.png
  sermant-backend-lite/src/main/webapp/sermant-frontend/src/views/HomeView.vue
Labels: kind/enhancement, area/backend

#903 【fix】去除Sermant对宿主JUL日志的影响
  sermant-agentcore/sermant-agentcore-config/config/all/config.properties
  sermant-agentcore/sermant-agentcore-config/config/config.properties
  sermant-agentcore/sermant-agentcore-config/config/example/config.properties
  sermant-agentcore/sermant-agentcore-config/config/test/config.properties
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/common/LoggerFactory.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/LoggerFactoryImpl.java
Labels: kind/enhancement, lgtm

#901 【fix】fix redundant statistics for request count
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/entity/SimpleRequestRecorder.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/entity/SimpleRequestRecorderTest.java
Labels: kind/bug, lgtm, area/plugin
