Repository sermant-io/Sermant, pull requests merged in 2022-09, with the labels that each got.

#713 【fix】修复yaml基本数据类型解析成包装类型问题
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/config/strategy/LoadYamlStrategy.java
Labels: kind/bug, area/core

#709 【fix】整改sermant-server-registry UT
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/test/java/com/huawei/dubbo/registry/ExtensionLoaderInterceptorTest.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/test/java/com/huawei/dubbo/registry/ReflectUtilsTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/config/RegistryConfigResolverTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/RegistryDelayInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/ResponseTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/SpringCacheManagerInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/SpringLoadbalancerFeignResponseInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/SpringLoadbalancerRestTemplateResponseInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/SpringLoadbalancerWarmUpInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/SpringRibbonWarmUpInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/SpringWebHandlerInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/SpringZuulResponseInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/WarmUpTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/utils/ZoneUtilsTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/cache/AddressCache.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/cache/AddressCacheTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/client/BaseTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/client/ScClientTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/impl/GraceServiceImplTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/server/GraceHttpServerTest.java
Labels: area/plugin, area/test

#715 【bug】修复路由规则，配置策略中策略值的bug
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/label/entity/ValueMatchDeserializer.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/strategy/match/RegexValueMatchStrategy.java
  sermant-plugins/sermant-router/router-config-common/src/test/java/com/huaweicloud/sermant/router/config/strategy/match/MatchStrategyTest.java
  sermant-plugins/sermant-router/router-config-common/src/test/java/com/huaweicloud/sermant/router/config/utils/RuleUtilsTest.java
Labels: kind/bug, area/plugin

#716 【fix】优化流控缓存刷新逻辑，优化spring流水线打包agent
  .github/workflows/intergration_spring_test.yml
  sermant-plugins/sermant-flowcontrol/flowcontrol-common/src/main/java/com/huawei/flowcontrol/common/cache/TimedConcurrentMapCache.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-common/src/main/java/com/huawei/flowcontrol/common/core/match/MatchedCache.java
Labels: area/plugin, area/test

#720 Fix netdev initialization parameter error
  sermant-plugins/sermant-monitor/monitor-service/src/main/java/com/huawei/monitor/command/NetworkCommand.java
  sermant-plugins/sermant-server-monitor/server-monitor-service/src/main/java/com/huawei/sermant/plugin/servermonitor/command/NetworkCommand.java
Labels: area/plugin

#722 【fix】修复ut失败的问题
  sermant-plugins/sermant-router/dubbo-router-service/src/test/java/com/huaweicloud/sermant/router/dubbo/service/ApplicationConfigServiceTest.java
  sermant-plugins/sermant-router/dubbo-router-service/src/test/java/com/huaweicloud/sermant/router/dubbo/service/ClusterServiceTest.java
  sermant-plugins/sermant-router/dubbo-router-service/src/test/java/com/huaweicloud/sermant/router/dubbo/strategy/RuleStrategyHandlerTest.java
  sermant-plugins/sermant-router/router-config-common/src/test/java/com/huaweicloud/sermant/router/config/utils/RuleUtilsTest.java
Labels: area/plugin, area/test

#724 修改release版本
  .github/workflows/create_release.yml
Labels: release

#726 【fix】修复ut与负载均衡插件问题
  sermant-plugins/sermant-loadbalancer/loadbalancer-common/src/main/java/com/huaweicloud/loadbalancer/config/RibbonLoadbalancerType.java
  sermant-plugins/sermant-loadbalancer/spring-cloud-loadbalancer-plugin/src/main/java/com/huaweicloud/loadbalancer/cache/RibbonLoadbalancerCache.java
  sermant-plugins/sermant-loadbalancer/spring-cloud-loadbalancer-plugin/src/main/java/com/huaweicloud/loadbalancer/interceptor/RibbonLoadBalancerInterceptor.java
  sermant-plugins/sermant-loadbalancer/spring-cloud-loadbalancer-plugin/src/test/java/com/huaweicloud/loadbalancer/ClientFactoryInterceptorTest.java
  sermant-plugins/sermant-loadbalancer/spring-cloud-loadbalancer-plugin/src/test/java/com/huaweicloud/loadbalancer/RibbonLoadBalancerInterceptorTest.java
Labels: kind/bug, area/plugin, area/test

#729 【fix】Fix the issue that start with error when application not define server port
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/pom.xml
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/main/java/com/huawei/dynamic/config/RefreshNotifier.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/CseDynamicConfigSourceTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/DefaultDynamicConfigSourceTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/closer/ConfigCenterCloserTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/entity/DynamicPropertiesTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/init/DynamicConfigThreadFactoryTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/inject/ClassInjectDefineTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/interceptors/MutableSourceInterceptorTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/interceptors/ZookeeperLocatorInterceptorTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/source/OriginConfigCenterDisableListenerTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/source/OriginConfigDisableSourceTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/source/SpringEventPublisherTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/subscribe/ConfigListenerTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/config/RegistrationProperties.java
Labels: kind/bug, area/plugin, area/test

#742 【action】pr增加代码覆盖率信息展示
  .github/workflows/Codecov.yml
  .github/workflows/unit_test.yml
  pom.xml
Labels: action

#731 【doc】update semant router doc
  docs/user-guide/feature-list.md
  docs/user-guide/router/document.md
  sermant-plugins/sermant-router/README.md
Labels: docs, area/plugin

#736 【test】Replenish the UT for spring registry plugin
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/interceptors/health/ConsulHealthInterceptor.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/auto/sc/ServiceCombDiscoveryClientTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/auto/sc/ServiceCombHealthIndicatorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/auto/sc/ServiceCombRegistryTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/auto/sc/ServiceCombServerIntrospectorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/auto/sc/ServiceCombServiceListTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/auto/sc/configuration/ServiceCombRibbonConfigurationTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/auto/sc/reactive/ServiceCombReactiveDiscoveryClientTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/config/RegistryConfigSubscribeServiceImplTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/context/RegisterContextTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/entity/GraceShutdownHookTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/SpringRibbonBalancerInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/SpringWebHandlerInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/inject/grace/ContextClosedEventListenerTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/inject/grace/SpringRequestInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/inject/source/SpringEnvironmentProcessorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/BaseRegistryTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/ClientConfigurationInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/DiscoveryClientInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/DiscoveryClientServiceInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/DynamicServerListInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/RegistrationInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/cloud3/x/ZookeeperInstanceSupplierInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/health/ConsulHealthInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/health/ConsulWatchInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/health/ConsulWatchRequestInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/health/EurekaHealthInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/health/EurekaRegisterInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/health/HealthIndicatorInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/health/NacosHealthInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/health/ZookeeperHealthInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/support/FieldAccessActionTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/support/RegistryDelayConsumerTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/utils/EnvUtils.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/utils/HostUtilsTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/utils/RefreshUtilsTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/register/RegisterManager.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/impl/RegisterCenterServiceImplTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/register/ScRegisterTest.java
Labels: area/plugin, area/test

#751 【BUG】backend中心仓发布包问题修复
  sermant-backend/pom.xml
Labels: kind/bug

#754 【doc】update chinese and english docs for README/QuickStart/FAQ
  README-zh.md
  README.md
  docs/FAQ-zh.md
  docs/FAQ.md
  docs/QuickStart-zh.md
  docs/QuickStart.md
  docs/README-zh.md
  docs/README.md
Labels: docs, area/plugin

#763 【fix】fix the bug which dubbo integration test sometimes run failed
  .github/workflows/integration_test.yml
  sermant-integration-tests/dubbo-test/dubbo-2-6-integration-consumer/pom.xml
  sermant-integration-tests/dubbo-test/dubbo-2-6-integration-consumer/src/main/resources/application.yaml
  sermant-integration-tests/dubbo-test/dubbo-2-6-integration-provider/pom.xml
  sermant-integration-tests/dubbo-test/dubbo-2-6-integration-provider/src/main/resources/application.yaml
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-consumer/pom.xml
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-consumer/src/main/resources/application.yaml
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-provider/pom.xml
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-provider/src/main/resources/application.yaml
  sermant-integration-tests/dubbo-test/dubbo-integration-api/src/main/java/com/huaweicloud/integration/controller/PingController.java
  sermant-integration-tests/dubbo-test/dubbo-integration-api/src/main/java/com/huaweicloud/integration/service/ConsumerBarService.java
  sermant-integration-tests/dubbo-test/dubbo-integration-api/src/main/java/com/huaweicloud/integration/service/ConsumerFooService.java
  sermant-integration-tests/dubbo-test/dubbo-integration-test/src/test/java/com/huaweicloud/integration/ConsumerTest.java
  sermant-integration-tests/scripts/checkService.sh
  sermant-plugins/sermant-router/dubbo-router-service/src/test/java/com/huaweicloud/sermant/router/dubbo/service/AbstractDirectoryServiceTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/BaseLoadBalancerInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/ClientHttpRequestInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/EurekaHttpClientInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/FeignClientInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/HandlerExecutionChainInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/HystrixActionInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/LoadBalancerClientFilterInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/RouteHandlerInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/ServiceInstanceListSupplierInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/ServiceRegistryInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-service/src/test/java/com/huaweicloud/sermant/router/spring/service/LoadBalancerServiceTest.java
  sermant-plugins/sermant-router/spring-router-service/src/test/java/com/huaweicloud/sermant/router/spring/service/RouteHandlerServiceTest.java
Labels: kind/bug, area/test

#761 【doc】update docs in user-guide and dev-guide
  docs/dev-guide/service_dynamicconfig-zh.md
  docs/dev-guide/service_dynamicconfig.md
  docs/dev-guide/service_heartbeat-zh.md
  docs/dev-guide/service_heartbeat.md
  docs/dev-guide/service_send-zh.md
  docs/dev-guide/service_send.md
  docs/dev-guide/third_party_copyright-zh.md
  docs/dev-guide/third_party_copyright.md
  docs/dev-guide/version_manage-zh.md
  docs/dev-guide/version_manage.md
  docs/user-guide/FAQ-zh.md
  docs/user-guide/FAQ.md
  docs/user-guide/agentcore-zh.md
  docs/user-guide/agentcore.md
  docs/user-guide/backend-zh.md
  docs/user-guide/backend.md
  docs/user-guide/entrance-zh.md
  docs/user-guide/entrance.md
  docs/user-guide/feature-list-zh.md
  docs/user-guide/feature-list.md
  docs/user-guide/injector-zh.md
  docs/user-guide/injector.md
Labels: docs

#769 add codecov badge
  README.md
Labels: kind/enhancement

#764 【doc】update english docs
  docs/README-zh.md
  docs/README.md
  docs/binary-docs/add_archetype.png
  docs/binary-docs/archetype_info.png
  docs/binary-docs/create_project_by_template.png
  docs/binary-docs/create_project_by_template_result.png
  docs/binary-docs/idea_new_project.png
  docs/dev-guide/Sermant去源码插件开发说明.md
  docs/dev-guide/dev_plugin_introduce-zh.md
  docs/dev-guide/dev_plugin_introduce.md
  docs/user-guide/server-monitor/document-zh.md
  docs/user-guide/server-monitor/document.md
Labels: docs

#765 【test】add auto test for dubbo governance
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/utils/ReflectUtils.java
  sermant-agentcore/sermant-agentcore-core/src/test/java/com/huaweicloud/sermant/core/utils/ReflectUtilsTest.java
  sermant-integration-tests/dubbo-test/dubbo-2-6-integration-consumer/src/main/java/com/huaweicloud/integration/ConsumerApplication.java
  sermant-integration-tests/dubbo-test/dubbo-2-6-integration-consumer/src/main/java/com/huaweicloud/integration/configuration/FlowControlExceptionHandler.java
  sermant-integration-tests/dubbo-test/dubbo-2-6-integration-consumer/src/main/java/com/huaweicloud/integration/controller/FlowHeaderController.java
  sermant-integration-tests/dubbo-test/dubbo-2-6-integration-consumer/src/main/java/com/huaweicloud/integration/filter/LbFilter.java
  sermant-integration-tests/dubbo-test/dubbo-2-6-integration-consumer/src/main/resources/META-INF/dubbo/internal/com.alibaba.dubbo.rpc.Filter
  sermant-integration-tests/dubbo-test/dubbo-2-6-integration-consumer/src/main/resources/dubbo/consumer.xml
  sermant-integration-tests/dubbo-test/dubbo-2-6-integration-consumer/src/main/resources/rule.yaml
  sermant-integration-tests/dubbo-test/dubbo-2-6-integration-provider/src/main/java/com/huaweicloud/integration/ProviderApplication.java
  sermant-integration-tests/dubbo-test/dubbo-2-6-integration-provider/src/main/java/com/huaweicloud/integration/service/FlowRetryExServiceImpl.java
  sermant-integration-tests/dubbo-test/dubbo-2-6-integration-provider/src/main/resources/dubbo/provider.xml
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-consumer/src/main/java/com/huaweicloud/integration/ConsumerApplication.java
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-consumer/src/main/java/com/huaweicloud/integration/configuration/FlowControlExceptionHandler.java
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-consumer/src/main/java/com/huaweicloud/integration/controller/FlowHeaderController.java
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-consumer/src/main/java/com/huaweicloud/integration/filter/LbFilter.java
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-consumer/src/main/resources/META-INF/dubbo/internal/org.apache.dubbo.rpc.Filter
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-consumer/src/main/resources/dubbo/consumer.xml
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-consumer/src/main/resources/rule.yaml
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-provider/src/main/java/com/huaweicloud/integration/ProviderApplication.java
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-provider/src/main/java/com/huaweicloud/integration/service/FlowRetryExServiceImpl.java
  sermant-integration-tests/dubbo-test/dubbo-2-7-integration-provider/src/main/resources/dubbo/provider.xml
  sermant-integration-tests/dubbo-test/dubbo-integration-api/src/main/java/com/huaweicloud/integration/configuration/FlowRuleConfiguration.java
  sermant-integration-tests/dubbo-test/dubbo-integration-api/src/main/java/com/huaweicloud/integration/configuration/LbCache.java
  sermant-integration-tests/dubbo-test/dubbo-integration-api/src/main/java/com/huaweicloud/integration/controller/FlowController.java
  sermant-integration-tests/dubbo-test/dubbo-integration-api/src/main/java/com/huaweicloud/integration/service/FlowControlService.java
  sermant-integration-tests/dubbo-test/dubbo-integration-api/src/main/java/com/huaweicloud/integration/service/FlowControlVersionService.java
  sermant-integration-tests/dubbo-test/dubbo-integration-api/src/main/java/com/huaweicloud/integration/service/impl/FlowControlServiceImpl.java
  sermant-integration-tests/dubbo-test/dubbo-integration-api/src/main/java/com/huaweicloud/integration/service/impl/FlowControlVersionServiceImpl.java
  sermant-integration-tests/dubbo-test/dubbo-integration-test/src/test/java/com/huaweicloud/integration/flow/FlowControlTest.java
  sermant-integration-tests/dubbo-test/dubbo-integration-test/src/test/java/com/huaweicloud/integration/utils/RequestUtils.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-common/src/main/java/com/huawei/flowcontrol/common/core/match/RequestMatcher.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-common/src/main/java/com/huawei/flowcontrol/common/util/DubboAttachmentsHelper.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-common/src/main/java/com/huawei/flowcontrol/common/util/ReflectUtils.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-common/src/test/java/com/huawei/flowcontrol/common/util/DubboAttachmentsHelperTest.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-common/src/test/java/com/huawei/flowcontrol/common/util/ReflectUtilsTest.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/src/main/java/com/huawei/flowcontrol/AlibabaDubboInterceptor.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/src/main/java/com/huawei/flowcontrol/ApacheDubboInterceptor.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/src/main/java/com/huawei/flowcontrol/retry/ExtensionLoaderInterceptor.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/src/main/java/com/huawei/flowcontrol/retry/cluster/AlibabaDubboClusterInvoker.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/src/main/java/com/huawei/flowcontrol/retry/cluster/ApacheDubboClusterInvoker.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/src/main/java/com/huawei/flowcontrol/retry/handler/DefaultRetryPredicateCreator.java
  sermant-plugins/sermant-loadbalancer/loadbalancer-common/src/main/java/com/huaweicloud/loadbalancer/inject/LoadbalancerProperties.java
  sermant-plugins/sermant-loadbalancer/loadbalancer-common/src/main/java/com/huaweicloud/loadbalancer/rule/LoadbalancerRuleResolver.java
Labels: kind/bug, area/plugin, area/test

#773 【UT】add ut for dubbo registry service
  .github/workflows/integration_test.yml
  sermant-plugins/sermant-service-registry/dubbo-registry-service/pom.xml
  sermant-plugins/sermant-service-registry/dubbo-registry-service/src/test/java/com/huawei/dubbo/registry/ApplicationConfigServiceTest.java
  sermant-plugins/sermant-service-registry/dubbo-registry-service/src/test/java/com/huawei/dubbo/registry/RegistryConfigServiceTest.java
  sermant-plugins/sermant-service-registry/dubbo-registry-service/src/test/java/com/huawei/dubbo/registry/RegistryServiceTest.java
Labels: area/test

#777 【doc】doc internalization for tag router.
  docs/README-zh.md
  docs/README.md
  docs/user-guide/feature-list-zh.md
  docs/user-guide/feature-list.md
  docs/user-guide/router/document-zh.md
  docs/user-guide/router/document.md
Labels: docs, area/plugin

#771 codecov actions add sc and zk env
  .github/workflows/Codecov.yml
Labels: kind/enhancement

#774 【doc】Doc internationalization for plugin loadbalcner、flowcontrol、dynamic config、graceful and service registry.
  docs/README-zh.md
  docs/README.md
  docs/binary-docs/sermant-register-migration-en.png
  docs/user-guide/dynamic-config/document-zh.md
  docs/user-guide/dynamic-config/document.md
  docs/user-guide/feature-list-zh.md
  docs/user-guide/feature-list.md
  docs/user-guide/flowcontrol/FAQ-zh.md
  docs/user-guide/flowcontrol/FAQ.md
  docs/user-guide/flowcontrol/flowcontrol-zh.md
  docs/user-guide/flowcontrol/flowcontrol.md
  docs/user-guide/flowcontrol/kie-configuration-document.md
  docs/user-guide/flowcontrol/zk-configuration-document.md
  docs/user-guide/graceful/document-zh.md
  docs/user-guide/graceful/document.md
  docs/user-guide/injector-zh.md
  docs/user-guide/injector.md
  docs/user-guide/loadbalancer/document-zh.md
  docs/user-guide/loadbalancer/document.md
  docs/user-guide/registry/FAQ-zh.md
  docs/user-guide/registry/FAQ.md
  docs/user-guide/registry/document-zh.md
  docs/user-guide/registry/document.md
  docs/user-guide/registry/dubbo-registry-migiration-zh.md
  docs/user-guide/registry/dubbo-registry-migiration.md
  docs/user-guide/registry/spring-cloud-registry-migiration-zh.md
  docs/user-guide/registry/spring-cloud-registry-migiration.md
Labels: docs, area/plugin

#778 【doc】update docs for development guide
  CONTRIBUTING.md
  README.md
  docs/FAQ-zh.md
  docs/FAQ.md
  docs/QuickStart-zh.md
  docs/README-zh.md
  docs/README.md
  docs/dev-guide/dev_plugin_code-zh.md
  docs/dev-guide/dev_plugin_code.md
  docs/dev-guide/dev_plugin_introduce-zh.md
  docs/dev-guide/dev_plugin_module-zh.md
  docs/dev-guide/dev_plugin_module.md
  docs/dev-guide/service_dynamicconfig-zh.md
  docs/dev-guide/service_heartbeat-zh.md
  docs/dev-guide/service_heartbeat.md
  docs/dev-guide/service_send-zh.md
  docs/dev-guide/third_party_copyright-zh.md
  docs/dev-guide/third_party_copyright.md
  docs/dev-guide/version_manage-zh.md
  docs/user-guide/agentcore-zh.md
  docs/user-guide/agentcore.md
  docs/user-guide/backend-zh.md
  docs/user-guide/entrance-zh.md
  docs/user-guide/entrance.md
  docs/user-guide/hercules/document.md
  docs/user-guide/hercules/pictures/agent-detail.PNG
  docs/user-guide/hercules/pictures/agentmanager.PNG
  docs/user-guide/hercules/pictures/choose-script.PNG
  docs/user-guide/hercules/pictures/create-script-detail.PNG
  docs/user-guide/hercules/pictures/create-script-interface.PNG
  docs/user-guide/hercules/pictures/create-test-interface.PNG
  docs/user-guide/hercules/pictures/login-interface.PNG
  docs/user-guide/hercules/pictures/login-page.PNG
  docs/user-guide/hercules/pictures/script-detail.PNG
  docs/user-guide/hercules/pictures/start-test.PNG
  docs/user-guide/hercules/pictures/system-menu.PNG
  docs/user-guide/hercules/pictures/test-config.PNG
  docs/user-guide/hercules/pictures/test-detail.PNG
  docs/user-guide/hercules/pictures/test-scene.PNG
  docs/user-guide/injector-zh.md
  docs/user-guide/injector.md
  docs/user-guide/server-monitor/document-zh.md
  docs/user-guide/threadlocal/document-zh.md
  docs/user-guide/threadlocal/document.md
Labels: docs

#784 Modification dependency cannot be imported
  sermant-agentcore/sermant-agentcore-config/config/config.properties
  sermant-plugins/sermant-flowcontrol/flowcontrol-common/src/main/java/com/huawei/flowcontrol/common/core/ResolverManager.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-common/src/main/java/com/huawei/flowcontrol/common/core/resolver/AbstractResolver.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-service/pom.xml
  sermant-plugins/sermant-flowcontrol/flowcontrol-service/src/main/java/com/huawei/fowcontrol/res4j/chain/handler/MonitorHandler.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-service/src/main/java/com/huawei/fowcontrol/res4j/service/ServiceCollectorService.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-service/src/test/java/com/huawei/fowcontrol/res4j/chain/handler/CircuitRequestHandlerTest.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-service/src/test/java/com/huawei/fowcontrol/res4j/monitor/MonitorTest.java
  sermant-plugins/sermant-loadbalancer/spring-cloud-loadbalancer-plugin/src/test/java/com/huaweicloud/loadbalancer/ClientFactoryInterceptorTest.java
Labels: kind/enhancement

#790 【bug】fix lb ut
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/ConfigHolderTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/source/SpringEnvironmentProcessorTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/subscribe/ConfigListenerTest.java
  sermant-plugins/sermant-loadbalancer/spring-cloud-loadbalancer-plugin/src/test/java/com/huaweicloud/loadbalancer/ClientFactoryInterceptorTest.java
Labels: kind/bug, area/plugin, area/test

#792 【bug】fix async config resolve ut
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/ConfigHolderTest.java
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/test/java/com/huawei/dynamic/config/subscribe/ConfigListenerTest.java
Labels: area/plugin, area/test
