Repository sermant-io/Sermant, pull requests merged in 2023-06, with the labels that each got.

#1218 springboot注册插件增加对webclient的支持
  .github/actions/scenarios/spring/spring-common/action.yml
  .github/workflows/spring_integration_test_1.yml
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/entity/ExecuteContext.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/utils/ReflectUtils.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-consumer/pom.xml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-consumer/src/main/java/com/huaweicloud/spring/feign/consumer/controller/BootRegistryController.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/boot/WebclientBootRegistryTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/pom.xml
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/HttpComponentsClientHttpConnectorDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/JettyClientDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/JettyRequestDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/MonoHttpConnectDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/declarers/WebClientBuilderDeclarer.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/entity/AbstractRetryExchangeFilterFunction.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/entity/JettyClientWrapper.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/entity/LowerVersionRetryExchangeFilterFunction.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/entity/RetryExchangeFilterFunction.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/HttpComponentsClientHttpConnectorInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/JettyClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/JettyRequestInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/MonoHttpConnectInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/WebClientBuilderInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/retry/config/DefaultRetryConfig.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/HttpConstants.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/PlugEffectWhiteBlackUtils.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/utils/RequestInterceptorUtils.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/TestInvokerService.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/entity/JettyClientWrapperTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/entity/RetryExchangeFilterFunctionTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/HttpComponentsClientHttpConnectorInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/JettyClientInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/JettyRequestInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/MonoHttpConnectInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/SpringCloseEventInterceptorTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/WebClientBuilderInterceptorTest.java
Labels: kind/enhancement, area/plugin

#1226 升级action版本
  .github/actions/common/dubbo/action.yml
  .github/actions/common/plugin-change-check/action.yml
  .github/actions/common/spring/action.yml
  .github/workflows/Codecov.yml
  .github/workflows/create_release.yml
  .github/workflows/dubbo_integration_test.yml
  .github/workflows/maven.yml
  .github/workflows/publish_maven_central_warehouse.yml
  .github/workflows/spring_integration_test_1.yml
  .github/workflows/spring_integration_test_2.yml
  sermant-integration-tests/README-zh.md
  sermant-integration-tests/README.md
Labels: kind/enhancement, area/cicd

#1232 增加Agent通知逻辑
  sermant-agentcore/sermant-agentcore-config/config/config.properties
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/AgentCoreEntrance.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/notification/NettyNotificationType.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/notification/NotificationInfo.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/notification/NotificationListener.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/notification/NotificationManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/notification/NotificationType.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/notification/SermantNotificationType.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/notification/ZookeeperNotificationType.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/notification/config/NotificationConfig.java
  sermant-agentcore/sermant-agentcore-core/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.config.common.BaseConfig
  sermant-agentcore/sermant-agentcore-core/src/test/java/com/huaweicloud/sermant/core/notification/NotificationManagerTest.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/dynamicconfig/zookeeper/ZooKeeperBufferedClient.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/send/netty/NettyClient.java
  sermant-injector/src/test/java/com/huaweicloud/sermant/injection/controller/SermantInjectorControllerTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/interceptors/OkHttp3ClientInterceptorTest.java
Labels: kind/feature, area/framework

#1196 事件上报集成测试用例
  .github/actions/scenarios/backend/memory/action.yml
  .github/actions/scenarios/backend/redis/action.yml
  .github/workflows/backend_integration_test.yml
  sermant-integration-tests/scripts/testBackend.py
Labels: kind/enhancement, area/e2e-test
