Repository sermant-io/Sermant, pull requests merged in 2023-07, with the labels that each got.

#1238 1.2.x版本中废弃Backend-Lite，将能力保持至Backend
  pom.xml
  sermant-backend-lite/deployment/deployment.yaml
  sermant-backend-lite/image/Dockerfile
  sermant-backend-lite/image/start.sh
  sermant-backend-lite/pom.xml
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/LiteBackend.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/cache/HeartbeatCache.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/config/WebConfig.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/controller/HeartBeatInfoController.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/entity/HeartbeatMessage.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/entity/PluginInfo.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/service/BaseHandler.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/service/NettyServer.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/service/ServerHandler.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/timer/DeleteTimeoutDataTask.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/utils/DateUtil.java
  sermant-backend-lite/src/main/java/com/huaweicloud/sermant/backend/lite/utils/GzipUtils.java
  sermant-backend-lite/src/main/proto/Message.proto
  sermant-backend-lite/src/main/resources/application.properties
  sermant-backend-lite/src/main/resources/logback.xml
  sermant-backend-lite/src/main/webapp/sermant-frontend/.eslintrc.cjs
  sermant-backend-lite/src/main/webapp/sermant-frontend/.gitignore
  sermant-backend-lite/src/main/webapp/sermant-frontend/.prettierrc.json
  sermant-backend-lite/src/main/webapp/sermant-frontend/.vscode/extensions.json
  sermant-backend-lite/src/main/webapp/sermant-frontend/README.md
  sermant-backend-lite/src/main/webapp/sermant-frontend/env.d.ts
  sermant-backend-lite/src/main/webapp/sermant-frontend/index.html
  sermant-backend-lite/src/main/webapp/sermant-frontend/package-lock.json
  sermant-backend-lite/src/main/webapp/sermant-frontend/package.json
  sermant-backend-lite/src/main/webapp/sermant-frontend/public/favicon.ico
  sermant-backend-lite/src/main/webapp/sermant-frontend/src/App.vue
  sermant-backend-lite/src/main/webapp/sermant-frontend/src/assets/base.css
  sermant-backend-lite/src/main/webapp/sermant-frontend/src/assets/img/sermant-logo.png
  sermant-backend-lite/src/main/webapp/sermant-frontend/src/assets/logo.svg
  sermant-backend-lite/src/main/webapp/sermant-frontend/src/assets/main.css
  sermant-backend-lite/src/main/webapp/sermant-frontend/src/main.ts
  sermant-backend-lite/src/main/webapp/sermant-frontend/src/router/index.ts
  sermant-backend-lite/src/main/webapp/sermant-frontend/src/stores/counter.ts
  sermant-backend-lite/src/main/webapp/sermant-frontend/src/views/HomeView.vue
  sermant-backend-lite/src/main/webapp/sermant-frontend/tsconfig.config.json
  sermant-backend-lite/src/main/webapp/sermant-frontend/tsconfig.json
  sermant-backend-lite/src/main/webapp/sermant-frontend/vite.config.ts
Labels: area/backend, kind/refactor

#1240 修正插件获取PluginService及PluginConfig的方法
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/src/main/java/com/huawei/dynamic/config/entity/DynamicProperties.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/src/main/java/com/huawei/flowcontrol/config/SpringApplicationInterceptor.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/src/main/java/com/huawei/flowcontrol/service/InterceptorSupporter.java
  sermant-plugins/sermant-loadbalancer/loadbalancer-common/src/test/java/com/huaweicloud/loadbalancer/rule/RuleManagerTest.java
  sermant-plugins/sermant-monitor/monitor-plugin/src/main/java/com/huawei/monitor/util/MonitorUtil.java
  sermant-plugins/sermant-monitor/monitor-service/src/main/java/com/huawei/monitor/service/report/MetricServiceImpl.java
  sermant-plugins/sermant-monitor/monitor-service/src/main/java/com/huawei/monitor/service/report/PrometheusMetricServiceImpl.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/handler/LaneContextFilterHandler.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/interceptor/AbstractDirectoryInterceptor.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/interceptor/ClusterUtilsInterceptor.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/interceptor/ContextFilterInterceptor.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/interceptor/SpringApplicationInterceptor.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/utils/RuleUtils.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/handler/AbstractMappingHandler.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/handler/LaneMappingHandler.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/handler/LaneRequestTagHandler.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/BaseLoadBalancerInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/DiscoveryManagerInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/EurekaHttpClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/NopInstanceFilterInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/RouteHandlerInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/ServiceInstanceListSupplierInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/ServiceRegistryInterceptor.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/main/java/com/huawei/dubbo/registry/alibaba/NacosRegistry.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/main/java/com/huawei/dubbo/registry/alibaba/NacosRegistryFactory.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/main/java/com/huawei/dubbo/registry/alibaba/ServiceCenterRegistry.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/main/java/com/huawei/dubbo/registry/apache/NacosRegistry.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/main/java/com/huawei/dubbo/registry/apache/NacosRegistryFactory.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/main/java/com/huawei/dubbo/registry/apache/ServiceCenterRegistry.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/main/java/com/huawei/dubbo/registry/interceptor/ApacheInterfaceConfigInterceptor.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/main/java/com/huawei/dubbo/registry/interceptor/ApplicationConfigInterceptor.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/main/java/com/huawei/dubbo/registry/interceptor/SpringApplicationInterceptor.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/main/java/com/huawei/dubbo/registry/utils/ReflectUtils.java
  sermant-plugins/sermant-service-registry/dubbo-registry-service/src/main/java/com/huawei/dubbo/registry/listener/GovernanceConfigListener.java
  sermant-plugins/sermant-service-registry/dubbo-registry-service/src/main/java/com/huawei/dubbo/registry/service/RegistryServiceImpl.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/interceptors/DiscoveryClientInterceptor.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/interceptors/DiscoveryClientServiceInterceptor.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/interceptors/DynamicServerListInterceptor.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/interceptors/RegistrationInterceptor.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/interceptors/SpringFactoriesInterceptor.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/support/InstanceInterceptorSupport.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/DiscoveryClientInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/DiscoveryClientServiceInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/DynamicServerListInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/RegistrationInterceptorTest.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/cache/RuleCache.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/AbstractRemovalInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/AbstractSwitchInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/SpringApplicationInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/test/java/com/huaweicloud/sermant/cache/RuleCacheTest.java
  sermant-plugins/sermant-service-removal/removal-service/src/main/java/com/huaweicloud/sermant/service/RequestDataCountTask.java
  sermant-plugins/sermant-service-visibility/service-visibility-plugin/src/main/java/com/huaweicloud/visibility/declarer/AbstractCollectorDeclarer.java
  sermant-plugins/sermant-service-visibility/service-visibility-plugin/src/main/java/com/huaweicloud/visibility/interceptor/AbstractCollectorInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/SpringApplicationInterceptor.java
Labels: area/plugin, kind/refactor

#1250 修复路由插件的一些bug
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/FeignClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/ServiceInstanceListSupplierInterceptor.java
Labels: kind/bug, area/plugin

#1125 当负载均衡使用spring cloud loadlancer，注册中心使用cse，使用域名进行访问时，优雅下线通知失效
  .github/workflows/Codecov.yml
  sermant-integration-tests/spring-test/spring-common-demos/pom.xml
  sermant-plugins/sermant-service-registry/registry-common/src/main/java/com/huawei/registry/config/grace/GraceShutDownManager.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/grace/interceptors/SpringLoadbalancerFeignResponseInterceptor.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/grace/interceptors/SpringLoadbalancerRestTemplateResponseInterceptor.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/grace/interceptors/SpringZuulResponseInterceptor.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/inject/grace/SpringRequestInterceptor.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/SpringZuulResponseInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/impl/GraceServiceImpl.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/server/NotifyHttpHandler.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/utils/HttpClientUtils.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/server/GraceHttpServerTest.java
Labels: kind/bug, status/lgtm, area/plugin

#1188 修复订阅与配置变动时，线程中的类加载器不一致的bug
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/subscribe/DefaultGroupConfigSubscriber.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/subscribe/processor/DefaultConfigProcessor.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/subscribe/processor/IntegratedEventListenerAdapter.java
Labels: kind/bug, area/framework

#1256 修复全链路灰度发布场景下，restTemplate无法向网关传递标签请求头的bug
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/declarer/ClientHttpRequestDeclarer.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/ClientHttpRequestInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/ClientHttpRequestInterceptorTest.java
Labels: kind/bug, area/plugin

#1253 流量标签透传特性：支持rocketMQ4.8+，支持webServlet3.0+
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/pom.xml
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/declarers/HttpServletDeclarer.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/declarers/RocketmqConsumerDeclarer.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/declarers/RocketmqProducerDeclarer.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/HttpServletInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/RocketmqConsumerInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/RocketmqProducerInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
Labels: kind/feature, area/plugin

#1257 修复springcloud双注册场景，使用zk注册中心有可能无法去重的bug
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/interceptors/cloud3/x/ZookeeperInstanceSupplierInterceptor.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/cloud3/x/ZookeeperInstanceSupplierInterceptorTest.java
Labels: kind/bug

#1260 修复injector挂载sermant会跟skywalking产生冲突的问题
  sermant-injector/deployment/release/injector/templates/sermant-injector-configmap.yaml
  sermant-injector/deployment/release/injector/values.yaml
  sermant-injector/src/main/java/com/huaweicloud/sermant/injection/controller/SermantInjectorController.java
  sermant-injector/src/main/resources/application.yml
Labels: kind/bug, area/injector

#1261 修复injector挂载sermant会跟skywalking产生冲突的问题
  sermant-injector/deployment/release/injector/templates/sermant-injector-configmap.yaml
  sermant-injector/deployment/release/injector/values.yaml
  sermant-injector/src/main/java/com/huaweicloud/sermant/injection/controller/SermantInjectorController.java
  sermant-injector/src/main/resources/application.yml
Labels: kind/bug, area/injector

#1262 修复injector挂载sermant会跟skywalking产生冲突的问题
  .github/workflows/Codecov.yml
  sermant-injector/deployment/release/injector/templates/sermant-injector-configmap.yaml
  sermant-injector/deployment/release/injector/values.yaml
  sermant-injector/src/main/java/com/huaweicloud/sermant/injection/controller/SermantInjectorController.java
  sermant-injector/src/main/resources/application.yml
Labels: kind/bug, area/injector

#1252 合并为增强引导类加载器加载的类而定制的Template、Transform
  sermant-agentcore/pom.xml
  sermant-agentcore/sermant-agentcore-core/pom.xml
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/AgentCoreEntrance.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/BufferedAgentBuilder.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/collector/PluginCollectorManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/AdviceConstTemplate.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/AdviceMemberTemplate.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/AdviceStaticTemplate.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/BaseAdviseHandler.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/BootstrapConstTemplate.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/BootstrapMemberTemplate.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/BootstrapStaticTemplate.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/CommonBaseAdviser.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/CommonConstAdviser.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/CommonMethodAdviser.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/DefaultAdviser.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/TemplateForCtor.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/TemplateForMember.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/template/TemplateForStatic.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/transformer/AdviceTransformer.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/transformer/BootstrapTransformer.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/transformer/DefaultTransformer.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/utils/ClassUtils.java
  sermant-agentcore/sermant-agentcore-god/pom.xml
  sermant-agentcore/sermant-agentcore-god/src/main/java/com/huaweicloud/sermant/core/plugin/agent/adviser/AdviserInterface.java
  sermant-agentcore/sermant-agentcore-god/src/main/java/com/huaweicloud/sermant/core/plugin/agent/adviser/AdviserScheduler.java
  sermant-agentcore/sermant-agentcore-god/src/main/java/com/huaweicloud/sermant/core/plugin/agent/entity/ExecuteContext.java
  sermant-agentcore/sermant-agentcore-god/src/main/java/com/huaweicloud/sermant/core/plugin/agent/interceptor/Interceptor.java
  sermant-agentcore/sermant-agentcore-premain/pom.xml
  sermant-agentcore/sermant-agentcore-premain/src/main/java/com/huawei/sermant/premain/AgentLauncher.java
  sermant-agentcore/sermant-agentcore-premain/src/main/java/com/huawei/sermant/premain/common/PathDeclarer.java
Labels: area/framework, kind/refactor
