Repository sermant-io/Sermant, pull requests merged in 2023-12, with the labels that each got.

#1377 漏洞版本升级
  sermant-integration-tests/spring-test/spring-intergration-test/pom.xml
  sermant-plugins/sermant-dynamic-config/dynamic-config-plugin/pom.xml
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/pom.xml
  sermant-plugins/sermant-loadbalancer/dubbo-loadbalancer-plugin/pom.xml
  sermant-plugins/sermant-loadbalancer/loadbalancer-common/pom.xml
  sermant-plugins/sermant-loadbalancer/spring-cloud-loadbalancer-plugin/pom.xml
  sermant-plugins/sermant-router/spring-router-plugin/pom.xml
  sermant-plugins/sermant-router/spring-router-service/pom.xml
  sermant-plugins/sermant-spring-beans-deal/spring-beans-deal-plugin/pom.xml
  sermant-plugins/sermant-tag-transmission/tag-transmission-dubbo2.7.x-plugin/pom.xml
  sermant-plugins/sermant-tag-transmission/tag-transmission-servicecomb-plugin/pom.xml
Labels: kind/enhancement

#1376 修复tomcat、jetty、zookeeper、kafka安全漏洞版本
  .github/workflows/tagtransmission_integration_test.yml
  pom.xml
  sermant-backend/pom.xml
  sermant-injector/pom.xml
  sermant-integration-tests/tag-transmission-test/pom.xml
  sermant-plugins/sermant-flowcontrol/flowcontrol-common/pom.xml
  sermant-plugins/sermant-router/spring-router-plugin/pom.xml
  sermant-plugins/sermant-service-visibility/service-visibility-plugin/pom.xml
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/pom.xml
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/entity/JettyClientWrapperTest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/pom.xml
  sermant-plugins/sermant-tag-transmission/tag-transmission-httpserver-plugin/pom.xml
  sermant-plugins/sermant-tag-transmission/tag-transmission-kafka-plugin/pom.xml
Labels: kind/bug, area/framework, area/backend, area/plugin, area/e2e-test, area/injector

#1387 增加标签路由匹配fallback规则逻辑
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/service/AbstractDirectoryServiceImpl.java
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/strategy/RuleStrategyHandler.java
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/utils/RouteUtils.java
  sermant-plugins/sermant-router/dubbo-router-service/src/test/java/com/huaweicloud/sermant/router/dubbo/strategy/RuleStrategyHandlerTest.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/entity/Rule.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/strategy/AbstractRuleStrategy.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/strategy/RuleStrategy.java
  sermant-plugins/sermant-router/spring-router-service/src/main/java/com/huaweicloud/sermant/router/spring/service/LoadBalancerServiceImpl.java
  sermant-plugins/sermant-router/spring-router-service/src/main/java/com/huaweicloud/sermant/router/spring/strategy/RuleStrategyHandler.java
  sermant-plugins/sermant-router/spring-router-service/src/main/java/com/huaweicloud/sermant/router/spring/utils/RouteUtils.java
  sermant-plugins/sermant-router/spring-router-service/src/test/java/com/huaweicloud/sermant/router/spring/strategy/RuleStrategyHandlerTest.java
  sermant-plugins/sermant-service-registry/dubbo-registry-service/src/main/java/com/huawei/dubbo/registry/service/RegistryServiceImpl.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/client/ScClient.java
Labels: kind/enhancement, area/plugin
