Repository sermant-io/Sermant, pull requests merged in 2023-03, with the labels that each got.

#1106 【doc】切换github首页readme为中文
  README-en.md
  README-zh.md
  README.md
Labels: documentation, lgtm

#1104 事件上报实体关系
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/entity/ClusterEntity.java
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/entity/EnvironmentEntity.java
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/entity/EventInfoEntity.java
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/entity/EventLevel.java
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/entity/EventMessageEntity.java
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/entity/EventType.java
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/entity/InstanceMeta.java
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/entity/NodeEntity.java
Labels: area/backend, lgtm

#1110 【feature】Agent事件上报实体定义
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/FrameworkEventCollector.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/FrameworkEventDefinitions.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/LogEventCollector.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/LogEventDefinitions.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/common/Event.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/common/EventCollector.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/common/EventCollectorManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/common/EventInfo.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/common/EventLevel.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/common/EventType.java
Labels: area/backend, lgtm

#1119 backend代码覆盖率检测采用project.version版本
  report/pom.xml
Labels: area/backend, lgtm

#1072 【Enhancement】Spring-cloud框架注册、发现功能兼顾http、https协议使用
  .github/actions/common/spring/action.yml
  .github/actions/scenarios/spring/graceful/action.yml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign-1.5.x/feign-api-1.5.x/pom.xml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign-1.5.x/feign-api-1.5.x/src/main/java/com/huaweicloud/spring/feign/api/HeaderMatchConfiguration.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign-1.5.x/feign-provider-1.5.x/src/main/resources/application.yml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign-1.5.x/feign-provider-1.5.x/src/main/resources/private.pkcs12
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-api/pom.xml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-api/src/main/java/com/huaweicloud/spring/feign/api/configuration/FeignClientConfigSslUtils.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-api/src/main/java/com/huaweicloud/spring/feign/api/configuration/FeignClientSslConfigurationHighVersion.java.highVersion
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-api/src/main/java/com/huaweicloud/spring/feign/api/configuration/FeignClientSslConfigurationLowVersion.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-consumer/src/main/java/com/huaweicloud/spring/feign/consumer/FeignConsumerApplication.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-provider/src/main/resources/application.yml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-feign/feign-provider/src/main/resources/private.pkcs12
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-resttemplate/rest-consumer/src/main/java/com/huaweicloud/spring/rest/consumer/FlowcontrolConiguration.java
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-resttemplate/rest-provider/src/main/resources/application.yml
  sermant-integration-tests/spring-test/spring-common-demos/spring-common-resttemplate/rest-provider/src/main/resources/private.pkcs12
  sermant-plugins/sermant-service-registry/config/config.yaml
  sermant-plugins/sermant-service-registry/registry-common/src/main/java/com/huawei/registry/config/ConfigConstants.java
  sermant-plugins/sermant-service-registry/registry-common/src/main/java/com/huawei/registry/config/RegisterServiceCommonConfig.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/auto/sc/ServiceCombRegistration.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/auto/sc/ServiceCombRegistry.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/auto/sc/ServiceCombServer.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/auto/sc/ServiceCombServerIntrospector.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/auto/sc/ServiceInstanceHolder.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/config/RegistrationProperties.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/entity/DiscoveryServiceInstance.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/entity/MicroServiceInstance.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/entity/ScServer.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/interceptors/RegistrationInterceptor.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/main/java/com/huawei/registry/utils/CommonUtils.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/auto/sc/ServiceCombRegistryTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/auto/sc/ServiceCombServerTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/auto/sc/reactive/ServiceCombReactiveDiscoveryClientTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/entity/DiscoveryServiceInstanceTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/entity/ScServerTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/WarmUpTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/BaseRegistryTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/DiscoveryClientInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/RegistrationInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/cloud3/x/ZookeeperInstanceSupplierInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/health/HealthIndicatorInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/client/NacosClient.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/client/NacosServiceDiscovery.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/register/NacosServiceInstance.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/register/NacosServiceManager.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/register/ServicecombServiceInstance.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/client/NacosClientTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/client/NacosDiscoveryTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/register/NacosServiceManagerTest.java
Labels: kind/enhancement, lgtm, area/plugin

#1127 【enhancement 】当前checkstyle无法检查不必要的垂直对齐
  Sermant-CodeStyle.xml
  checkstyle.xml
Labels: kind/enhancement, lgtm

#1114 【fix】injector场景，在业务应用已挂载preStop节点时，injector有可能无法正确注入优雅下线的命令
  sermant-injector/src/main/java/com/huaweicloud/sermant/injection/controller/SermantInjectorController.java
Labels: kind/bug, lgtm, area/injector

#1129 【enhancement 】修改checkstyle
  checkstyle.xml
Labels: kind/enhancement, lgtm

#1130 【fix】修复优雅上下线ut
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/grace/interceptors/SpringZuulResponseInterceptorTest.java
Labels: kind/bug, area/plugin, area/test

#1124 【fix】injector场景，在业务应用已挂载preStop节点时，injector有可能无法正确注入优雅下线的命令
  sermant-injector/src/main/java/com/huaweicloud/sermant/injection/controller/SermantInjectorController.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/DynamicServerListInterceptorTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-plugin/src/test/java/com/huawei/registry/interceptors/health/HealthIndicatorInterceptorTest.java
Labels: kind/bug, lgtm, area/injector

#1137 【feature】新增框架、流控、服务注册插件事件的中文描述
  sermant-backend/src/main/webapp/frontend/src/views/EventsConfigView.vue
  sermant-backend/src/main/webapp/frontend/src/views/EventsView.vue
  sermant-backend/src/main/webapp/frontend/src/views/InstancesView.vue
Labels: kind/enhancement, area/backend, lgtm

#1136 【bugfix】修复httpclientasync用例不通过的问题
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/entity/HttpCommonRequest.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/test/java/com/huawei/discovery/entity/HttpCommonRequestTest.java
Labels: kind/bug, area/plugin

#1143 添加各插件拦截请求前后的finest级别日志
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/utils/LogUtils.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/src/main/java/com/huawei/flowcontrol/AlibabaDubboInterceptor.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/src/main/java/com/huawei/flowcontrol/ApacheDubboInterceptor.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/src/main/java/com/huawei/flowcontrol/DispatcherServletInterceptor.java
  sermant-plugins/sermant-monitor/monitor-plugin/src/main/java/com/huawei/monitor/interceptor/AlibabaDubboInterceptor.java
  sermant-plugins/sermant-monitor/monitor-plugin/src/main/java/com/huawei/monitor/interceptor/ApacheDubboInterceptor.java
  sermant-plugins/sermant-monitor/monitor-plugin/src/main/java/com/huawei/monitor/interceptor/DispatcherServletInterceptor.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/interceptor/AbstractDirectoryInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/ClientHttpRequestInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/FeignClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/HttpAsyncClient4xInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/HttpClient4xInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/HttpUrlConnectionConnectInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/OkHttp3ClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/OkHttpClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/RestTemplateInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/FeignInvokeInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttp3ClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttpClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/RestTemplateInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpAsyncClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpconnection/HttpUrlConnectionResponseStreamInterceptor.java
Labels: kind/enhancement, lgtm, area/plugin

#1147 添加各插件拦截请求前后的finest级别日志
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/utils/LogUtils.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/src/main/java/com/huawei/flowcontrol/AlibabaDubboInterceptor.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/src/main/java/com/huawei/flowcontrol/ApacheDubboInterceptor.java
  sermant-plugins/sermant-flowcontrol/flowcontrol-plugin/src/main/java/com/huawei/flowcontrol/DispatcherServletInterceptor.java
  sermant-plugins/sermant-monitor/monitor-plugin/src/main/java/com/huawei/monitor/interceptor/AlibabaDubboInterceptor.java
  sermant-plugins/sermant-monitor/monitor-plugin/src/main/java/com/huawei/monitor/interceptor/ApacheDubboInterceptor.java
  sermant-plugins/sermant-monitor/monitor-plugin/src/main/java/com/huawei/monitor/interceptor/DispatcherServletInterceptor.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/interceptor/AbstractDirectoryInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/ClientHttpRequestInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/FeignClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/HttpAsyncClient4xInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/HttpClient4xInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/HttpUrlConnectionConnectInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/OkHttp3ClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/OkHttpClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/RestTemplateInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/FeignInvokeInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttp3ClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/OkHttpClientInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/RestTemplateInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpAsyncClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpconnection/HttpUrlConnectionResponseStreamInterceptor.java
Labels: kind/enhancement, lgtm

#1120 【feature】新增离群实例摘除插件--实例信息统计任务
  sermant-plugins/pom.xml
  sermant-plugins/sermant-service-removal/config/config.yaml
  sermant-plugins/sermant-service-removal/pom.xml
  sermant-plugins/sermant-service-removal/removal-plugin/pom.xml
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/cache/DubboCache.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/cache/InstanceCache.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/cache/RuleCache.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/config/RemovalConfig.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/config/RemovalRule.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/entity/InstanceInfo.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/entity/RemovalCountInfo.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/entity/RequestCountData.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/entity/RequestInfo.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.config.PluginConfig
  sermant-plugins/sermant-service-removal/removal-plugin/src/test/java/com/huaweicloud/sermant/cache/InstanceCacheTest.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/test/java/com/huaweicloud/sermant/cache/RuleCacheTest.java
  sermant-plugins/sermant-service-removal/removal-service/pom.xml
  sermant-plugins/sermant-service-removal/removal-service/src/main/java/com/huaweicloud/sermant/service/RequestDataCountTask.java
  sermant-plugins/sermant-service-removal/removal-service/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.service.PluginService
  sermant-plugins/sermant-service-removal/removal-service/src/test/java/com/huaweicloud/sermant/service/RequestDataCountTaskTest.java
Labels: lgtm, area/plugin

#1145 【enhancement】优化染色&路由代码逻辑
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/handler/AbstractContextFilterHandler.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/handler/LaneContextFilterHandler.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/handler/RouteContextFilterHandler.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/interceptor/ContextFilterInterceptor.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/service/DubboConfigService.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/utils/DubboReflectUtils.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/main/java/com/huaweicloud/sermant/router/dubbo/utils/ParametersUtils.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/test/java/com/huaweicloud/sermant/router/dubbo/TestDubboConfigService.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/test/java/com/huaweicloud/sermant/router/dubbo/handler/LaneContextFilterHandlerTest.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/test/java/com/huaweicloud/sermant/router/dubbo/handler/RouteContextFilterHandlerTest.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/test/java/com/huaweicloud/sermant/router/dubbo/interceptor/ApplicationConfigInterceptorTest.java
  sermant-plugins/sermant-router/dubbo-router-plugin/src/test/java/com/huaweicloud/sermant/router/dubbo/interceptor/ContextFilterInterceptorTest.java
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/handler/FlowRouteHandler.java
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/handler/TagRouteHandler.java
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/service/AbstractDirectoryServiceImpl.java
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/service/ClusterUtilsServiceImpl.java
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/service/LaneContextFilterServiceImpl.java
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/strategy/instance/MatchInstanceStrategy.java
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/strategy/instance/MismatchInstanceStrategy.java
  sermant-plugins/sermant-router/dubbo-router-service/src/test/java/com/huaweicloud/sermant/router/dubbo/AlibabaInvoker.java
  sermant-plugins/sermant-router/dubbo-router-service/src/test/java/com/huaweicloud/sermant/router/dubbo/ApacheInvoker.java
  sermant-plugins/sermant-router/dubbo-router-service/src/test/java/com/huaweicloud/sermant/router/dubbo/RuleInitializationUtils.java
  sermant-plugins/sermant-router/dubbo-router-service/src/test/java/com/huaweicloud/sermant/router/dubbo/handler/TagRouteHandlerTest.java
  sermant-plugins/sermant-router/dubbo-router-service/src/test/java/com/huaweicloud/sermant/router/dubbo/service/ClusterUtilsServiceTest.java
  sermant-plugins/sermant-router/dubbo-router-service/src/test/java/com/huaweicloud/sermant/router/dubbo/strategy/RuleStrategyHandlerTest.java
  sermant-plugins/sermant-router/router-common/src/main/java/com/huaweicloud/sermant/router/common/constants/RouterConstant.java
  sermant-plugins/sermant-router/router-common/src/main/java/com/huaweicloud/sermant/router/common/utils/ReflectUtils.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/entity/EnabledStrategy.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/entity/Policy.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/entity/Route.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/entity/RouterConfiguration.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/strategy/AbstractInstanceStrategy.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/utils/FlowRuleUtils.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/utils/RuleUtils.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/utils/TagRuleUtils.java
  sermant-plugins/sermant-router/router-config-common/src/test/java/com/huaweicloud/sermant/router/config/utils/RuleUtilsTest.java
  sermant-plugins/sermant-router/router-config-service/src/main/java/com/huaweicloud/sermant/router/config/handler/GlobalConfigHandler.java
  sermant-plugins/sermant-router/router-config-service/src/main/java/com/huaweicloud/sermant/router/config/handler/RouterConfigHandler.java
  sermant-plugins/sermant-router/router-config-service/src/main/java/com/huaweicloud/sermant/router/config/handler/ServiceConfigHandler.java
  sermant-plugins/sermant-router/router-config-service/src/main/java/com/huaweicloud/sermant/router/config/service/ConfigService.java
  sermant-plugins/sermant-router/router-config-service/src/test/java/com/huaweicloud/sermant/router/config/service/ConfigServiceTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/handler/AbstractHandler.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/handler/AbstractRequestTagHandler.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/handler/LaneMappingHandler.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/handler/LaneRequestTagHandler.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/handler/RouteMappingHandler.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/handler/RouteRequestTagHandler.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/ClientHttpRequestInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/RouteHandlerInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/service/SpringConfigService.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/TestSpringConfigService.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/handler/RouteMappingHandlerTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/HandlerExecutionChainInterceptorTest.java
  sermant-plugins/sermant-router/spring-router-service/src/main/java/com/huaweicloud/sermant/router/spring/handler/FlowRouteHandler.java
  sermant-plugins/sermant-router/spring-router-service/src/main/java/com/huaweicloud/sermant/router/spring/handler/TagRouteHandler.java
  sermant-plugins/sermant-router/spring-router-service/src/main/java/com/huaweicloud/sermant/router/spring/service/LaneServiceImpl.java
Labels: kind/enhancement, lgtm, area/plugin

#1144 【bug】前端事件格式修改，事件上报新增启动和停止事件
  sermant-agentcore/sermant-agentcore-config/config/config.properties
  sermant-agentcore/sermant-agentcore-config/config/test/config.properties
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/AgentCoreEntrance.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/EventCollector.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/EventManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/LogInfo.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/collector/FrameworkEventCollector.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/collector/LogEventCollector.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/config/EventConfig.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/service/ServiceManager.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/log/SermantBridgeHandler.java
  sermant-backend/src/main/webapp/frontend/package.json
  sermant-backend/src/main/webapp/frontend/src/views/EventsView.vue
  sermant-backend/src/main/webapp/frontend/src/views/InstancesView.vue
Labels: area/core, lgtm

#1155 【feature】新增各请求成功和失败提示
  sermant-backend/src/main/webapp/frontend/auto-imports.d.ts
  sermant-backend/src/main/webapp/frontend/src/assets/Sermant-logo.png
  sermant-backend/src/main/webapp/frontend/src/components/layouts/BaseHeader.vue
  sermant-backend/src/main/webapp/frontend/src/main.ts
  sermant-backend/src/main/webapp/frontend/src/views/EventsConfigView.vue
  sermant-backend/src/main/webapp/frontend/src/views/EventsView.vue
  sermant-backend/src/main/webapp/frontend/src/views/InstancesView.vue
Labels: kind/enhancement, area/backend, lgtm

#1154 【bug】backend事件查询bug修复
  sermant-backend/pom.xml
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/dao/EventDao.java
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/dao/memory/MemoryClientImpl.java
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/dao/redis/EventDaoForRedis.java
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/dao/redis/RedisClientImpl.java
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/timer/DeleteTimeoutDataTask.java
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/util/DbUtils.java
  sermant-backend/src/main/java/com/huaweicloud/sermant/backend/webhook/feishu/FeiShuHookClient.java
Labels: kind/bug, area/backend, lgtm

#1157 【bugfix】修复上下文类加载器切换恢复异常问题
  .github/workflows/dubbo_integration_test.yml
  .github/workflows/maven.yml
  .github/workflows/spring_integration_test_1.yml
  .github/workflows/spring_integration_test_2.yml
  sermant-integration-tests/scripts/tryDownloadMidware.sh
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpAsyncClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/lb/discovery/zk/ZkDiscoveryClient.java
Labels: kind/bug, lgtm

#1149 【feature】增加离群实例插件增强逻辑
  sermant-agentcore/sermant-agentcore-config/config/config.properties
  sermant-agentcore/sermant-agentcore-config/config/plugins.yaml
  sermant-agentcore/sermant-agentcore-config/config/test/plugins.yaml
  sermant-backend/src/main/webapp/frontend/src/views/EventsView.vue
  sermant-plugins/sermant-service-removal/config/config.yaml
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/cache/InstanceCache.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/cache/RuleCache.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/config/RemovalConfig.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/config/RemovalRule.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/declarer/AbstractSwitchDeclarer.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/declarer/AlibabaDubboClusterUtilsDeclarer.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/declarer/AlibabaDubboDirectoryDeclarer.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/declarer/AlibabaDubboInvokeDeclarer.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/declarer/ApacheDubboClusterUtilsDeclarer.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/declarer/ApacheDubboDirectoryDeclarer.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/declarer/ApacheDubboMonitorDeclarer.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/declarer/SpringBootApplyDeclarer.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/declarer/SpringBootCacheManagerDeclarer.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/declarer/SpringCloudClientDeclarer.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/declarer/SpringCloudDiscoveryDeclarer.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/declarer/SpringCloudLoadBalancerClientDeclarer.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/declarer/SpringCloudReactiveDiscoveryDeclarer.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/declarer/SpringCloudServerListDeclarer.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/AbstractCallInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/AbstractClusterUtilsInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/AbstractRemovalInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/AlibabaDubboClusterUtilsInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/AlibabaDubboDirectoryInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/AlibabaDubboInvokeInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/ApacheDubboClusterUtilsInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/ApacheDubboDirectoryInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/ApacheDubboInvokeInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/SpringBootApplyInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/SpringBootCacheManagerInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/SpringCloudClientInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/SpringCloudDiscoveryInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/SpringCloudLoadBalancerClientInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/SpringCloudReactiveDiscoveryInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/interceptor/SpringCloudServerListInterceptor.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/java/com/huaweicloud/sermant/service/RemovalEventService.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-plugins/sermant-service-removal/removal-service/src/main/java/com/huaweicloud/sermant/event/RemovalEventCollector.java
  sermant-plugins/sermant-service-removal/removal-service/src/main/java/com/huaweicloud/sermant/event/RemovalEventDefinitions.java
  sermant-plugins/sermant-service-removal/removal-service/src/main/java/com/huaweicloud/sermant/service/RemovalEventServiceImpl.java
  sermant-plugins/sermant-service-removal/removal-service/src/main/java/com/huaweicloud/sermant/service/RequestDataCountTask.java
  sermant-plugins/sermant-service-removal/removal-service/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.service.PluginService
  sermant-plugins/sermant-service-removal/removal-service/src/test/java/com/huaweicloud/sermant/service/RequestDataCountTaskTest.java
  sermant-plugins/sermant-service-visibility/service-visibility-service/pom.xml
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/retry/RetryServiceImpl.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/util/ApplyUtil.java
Labels: kind/feature, lgtm, area/plugin

#1160 【bugfix】修复上下文类加载器切换恢复异常问题(1.0.x)
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpAsyncClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/lb/discovery/zk/ZkDiscoveryClient.java
Labels: kind/bug, lgtm

#1161 【bugfix】修复上下文类加载器切换恢复异常问题(develop)
  sermant-plugins/sermant-springboot-registry/springboot-registry-plugin/src/main/java/com/huawei/discovery/interceptors/httpclient/HttpAsyncClient4xInterceptor.java
  sermant-plugins/sermant-springboot-registry/springboot-registry-service/src/main/java/com/huawei/discovery/service/lb/discovery/zk/ZkDiscoveryClient.java
Labels: kind/bug, lgtm

#1158 【bugfix】plugin配配置为空出现空指针异常，启动发送心跳发送延时等
  sermant-agentcore/sermant-agentcore-config/config/bootstrap.properties
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/common/BootArgsIndexer.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/common/CommonConstant.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/EventManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/collector/FrameworkEventCollector.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/PluginManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/PluginSystemEntrance.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/service/ServiceManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/service/heartbeat/common/HeartbeatMessage.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/heartbeat/HeartbeatServiceImpl.java
  sermant-agentcore/sermant-agentcore-premain/src/main/java/com/huawei/sermant/premain/common/BootArgsBuilder.java
  sermant-backend/src/main/webapp/frontend/package-lock.json
  sermant-backend/src/main/webapp/frontend/src/views/EventsConfigView.vue
  sermant-backend/src/main/webapp/frontend/src/views/EventsView.vue
  sermant-backend/src/main/webapp/frontend/src/views/InstancesView.vue
Labels: kind/bug, lgtm

#1153 【enhancement 】升级spring集成测试框架
  .github/actions/scenarios/spring/dynamic-config-nacos/action.yml
  .github/actions/scenarios/spring/dynamic-config-zk/action.yml
  .github/workflows/spring_integration_test_1.yml
  .github/workflows/spring_integration_test_2.yml
  sermant-integration-tests/spring-test/spring-intergration-test/pom.xml
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/common/CommonConstants.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/common/rule/AbstractTestRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/common/rule/DisableRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/common/rule/SermantTestType.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/config/NacosConfigTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/config/ZookeeperConfigTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/config/constants/Constants.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/config/enums/DynamicTestType.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/config/rule/NacosTestRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/config/rule/ZkTestRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/config/supprt/TestUtils.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/flowcontrol/FeignFlowControlTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/flowcontrol/FlowControlTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/flowcontrol/FlowControlTestRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/flowcontrol/RestFlowControlTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/graceful/FeignGracefulTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/graceful/GracefulRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/graceful/GracefulTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/graceful/RestGracefulTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/lane/LaneConfigRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/lane/LaneConfigTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/lane/LaneRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/lane/LaneTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/loadbalancer/FeignLoadBalancerTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/loadbalancer/LoadBalancerRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/loadbalancer/LoadbalancerTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/loadbalancer/RestLoadBalancerTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/monitor/MonitorControlTestRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/monitor/MonitorTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/boot/BootRegistryRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/boot/BootRegistryTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/boot/FeignBootRegistryTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/boot/HttpClientBootRegistryTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/boot/OkClientBootRegistryTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/boot/RestBootRegistryTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/boot/UrlConnectionBootRegistryTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/cloud/CloudRegistryRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/registry/cloud/CloudRegistryTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/router/RouterRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/router/RouterTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/router/TagRouterAzRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/router/TagRouterAzTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/router/TagRouterConfigRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/router/TagRouterConfigTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/router/TagRouterRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/router/TagRouterTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/visibility/VisibilityControlTestRule.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/visibility/VisibilityTest.java
  sermant-plugins/sermant-router/spring-router-plugin/src/main/java/com/huaweicloud/sermant/router/spring/interceptor/EurekaHttpClientInterceptor.java
  sermant-plugins/sermant-router/spring-router-plugin/src/test/java/com/huaweicloud/sermant/router/spring/interceptor/EurekaHttpClientInterceptorTest.java
Labels: kind/enhancement, lgtm, area/e2e-test
