Repository sermant-io/Sermant, pull requests merged in 2023-10, with the labels that each got.

#1322 AgentCore动态安装卸载测试：测试插件、测试应用、流水线
  .github/actions/scenarios/agentcore/agentcore-common/action.yml
  .github/actions/scenarios/agentcore/dynamic/action.yml
  .github/workflows/agentcore_integration_test.yml
  sermant-integration-tests/agentcore-test/agentcore-integration-test/pom.xml
  sermant-integration-tests/agentcore-test/agentcore-integration-test/src/test/java/com/huaweicloud/agentcore/test/request/RequestTest.java
  sermant-integration-tests/agentcore-test/agentcore-integration-test/src/test/java/com/huaweicloud/agentcore/test/request/RequestUtils.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/AgentCoreTestApplication.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/controller/TestController.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/results/DynamicResults.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/router/ControllerHandler.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/router/RouterPath.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/dynamic/DynamicTest.java
  sermant-integration-tests/agentcore-test/dynamic-test-first-plugin/pom.xml
  sermant-integration-tests/agentcore-test/dynamic-test-first-plugin/src/main/java/com/huaweicloud/dynamic/test/first/plugin/declarer/TestDynamicDeclarer.java
  sermant-integration-tests/agentcore-test/dynamic-test-first-plugin/src/main/java/com/huaweicloud/dynamic/test/first/plugin/interceptor/RepeatEnhanceInterceptor.java
  sermant-integration-tests/agentcore-test/dynamic-test-first-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-integration-tests/agentcore-test/dynamic-test-second-plugin/pom.xml
  sermant-integration-tests/agentcore-test/dynamic-test-second-plugin/src/main/java/com/huaweicloud/dynamic/test/second/plugin/declarer/TestDynamicDeclarer.java
  sermant-integration-tests/agentcore-test/dynamic-test-second-plugin/src/main/java/com/huaweicloud/dynamic/test/second/plugin/interceptor/RepeatEnhanceInterceptor.java
  sermant-integration-tests/agentcore-test/dynamic-test-second-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-integration-tests/agentcore-test/pom.xml
  sermant-integration-tests/scripts/AgentLoader.java
  suppressions.xml
Labels: kind/enhancement, area/e2e-test

#1327 AgentCore集成测试：prematin启动和agentmain启动测试、动态配置zookeeper测试、静态配置加载测试
  .github/actions/scenarios/agentcore/agentmain/action.yml
  .github/actions/scenarios/agentcore/common/action.yml
  .github/actions/scenarios/agentcore/dynamic-config/action.yml
  .github/actions/scenarios/agentcore/dynamic/action.yml
  .github/actions/scenarios/agentcore/premain/action.yml
  .github/workflows/agentcore_integration_test.yml
  sermant-integration-tests/agentcore-test/agentcore-integration-test/src/test/java/com/huaweicloud/agentcore/test/request/RequestTest.java
  sermant-integration-tests/agentcore-test/agentcore-integration-test/src/test/java/com/huaweicloud/agentcore/test/request/RequestUtils.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/controller/TestController.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/results/ConfigResults.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/results/DynamicResults.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/router/ControllerHandler.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/router/RouterPath.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/configload/CoreAndPluginConfigLoadTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/dynamic/DynamicTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/config/TestConfig.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/declarer/configload/TestConfigLoadDeclarer.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/configload/ConfigLoadInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.config.PluginConfig
  sermant-integration-tests/agentcore-test/config/config.yaml
  sermant-integration-tests/agentcore-test/dynamic-test-third-plugin/pom.xml
  sermant-integration-tests/agentcore-test/dynamic-test-third-plugin/src/main/java/com/huaweicloud/dynamic/test/third/plugin/declarer/TestDynamicDeclarer.java
  sermant-integration-tests/agentcore-test/dynamic-test-third-plugin/src/main/java/com/huaweicloud/dynamic/test/third/plugin/interceptor/RepeatEnhanceInterceptor.java
  sermant-integration-tests/agentcore-test/dynamic-test-third-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-integration-tests/agentcore-test/pom.xml
Labels: kind/enhancement, area/e2e-test

#1331 针对Servicecomb注册截断超过64位长度的hostname
  sermant-plugins/sermant-service-registry/dubbo-registry-service/src/main/java/com/huawei/dubbo/registry/service/RegistryServiceImpl.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/main/java/com/huawei/registry/service/client/ScClient.java
Labels: kind/enhancement, area/plugin

#1330 AgentCore的字节码增强测试：插件部分、测试请求、部分测试应用
  sermant-integration-tests/agentcore-test/agentcore-integration-test/src/test/java/com/huaweicloud/agentcore/test/request/RequestTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/common/TestAnnotationA.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/common/TestAnnotationB.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/common/TestSuperTypeA.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/common/TestSuperTypeB.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/router/RouterPath.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/declarer/classmatch/TestAnnotationDeclarer.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/declarer/classmatch/TestAnnotationsDeclarer.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/declarer/classmatch/TestInfixDeclarer.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/declarer/classmatch/TestPrefixDeclarer.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/declarer/classmatch/TestSuffixDeclarer.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/declarer/classmatch/TestSuperTypeDeclarer.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/declarer/classmatch/TestSuperTypesDeclarer.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/declarer/enhancement/TestExecuteContextDeclarer.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/declarer/methodmatch/TestMethodMatcherDeclarer.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/declarer/retransform/TestReTransformDeclarer.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/common/SetEnhanceFlagInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/enhancement/SetArgumentsInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/enhancement/SetFieldInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/enhancement/SkipInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/retransform/ActiveCountInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/retransform/GetAllStackTracesInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/retransform/NoParamsConstructorInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/retransform/SetNameInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
Labels: kind/enhancement, area/e2e-test

#1334 流量标签透传插件集成测试demo：dubbo demo、rpc-api demo、公共httpserver demo
  sermant-integration-tests/tag-transmission-test/alibaba-dubbo-consumer-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/alibaba-dubbo-consumer-demo/src/main/java/com/huaweicloud/demo/tagtransmission/alibabadubbo/consumer/AlibabaDubboConsumerApplication.java
  sermant-integration-tests/tag-transmission-test/alibaba-dubbo-consumer-demo/src/main/java/com/huaweicloud/demo/tagtransmission/alibabadubbo/consumer/controller/AlibabaDubboController.java
  sermant-integration-tests/tag-transmission-test/alibaba-dubbo-consumer-demo/src/main/resources/application.yaml
  sermant-integration-tests/tag-transmission-test/alibaba-dubbo-provider-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/alibaba-dubbo-provider-demo/src/main/java/com/huaweicloud/demo/tagtransmission/alibabadubbo/provider/AlibabaDubboProviderApplication.java
  sermant-integration-tests/tag-transmission-test/alibaba-dubbo-provider-demo/src/main/java/com/huaweicloud/demo/tagtransmission/alibabadubbo/provider/serviceimpl/AlibabaTagTransmissionServiceImpl.java
  sermant-integration-tests/tag-transmission-test/alibaba-dubbo-provider-demo/src/main/resources/application.properties
  sermant-integration-tests/tag-transmission-test/alibaba-dubbo-provider-demo/src/main/resources/application.yaml
  sermant-integration-tests/tag-transmission-test/apache-dubbo-consumer-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/apache-dubbo-consumer-demo/src/main/java/com/huaweicloud/demo/tagtransmission/apachedubbo/consumer/ApacheDubboConsumerApplication.java
  sermant-integration-tests/tag-transmission-test/apache-dubbo-consumer-demo/src/main/java/com/huaweicloud/demo/tagtransmission/apachedubbo/consumer/controller/ApacheDubboController.java
  sermant-integration-tests/tag-transmission-test/apache-dubbo-consumer-demo/src/main/resources/application.yaml
  sermant-integration-tests/tag-transmission-test/apache-dubbo-provider-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/apache-dubbo-provider-demo/src/main/java/com/huaweicloud/demo/tagtransmission/apachedubbo/provider/ApacheDubboProviderApplication.java
  sermant-integration-tests/tag-transmission-test/apache-dubbo-provider-demo/src/main/java/com/huaweicloud/demo/tagtransmission/apachedubbo/provider/serviceimpl/ApacheTagTransmissionServiceImpl.java
  sermant-integration-tests/tag-transmission-test/apache-dubbo-provider-demo/src/main/resources/application.properties
  sermant-integration-tests/tag-transmission-test/apache-dubbo-provider-demo/src/main/resources/application.yaml
  sermant-integration-tests/tag-transmission-test/httpserver-common-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/httpserver-common-demo/src/main/java/com/huaweicloud/demo/tagtransmission/commonserver/HttpCommonServerApplication.java
  sermant-integration-tests/tag-transmission-test/httpserver-common-demo/src/main/java/com/huaweicloud/demo/tagtransmission/commonserver/config/TagKeyConfig.java
  sermant-integration-tests/tag-transmission-test/httpserver-common-demo/src/main/java/com/huaweicloud/demo/tagtransmission/commonserver/controller/ServerController.java
  sermant-integration-tests/tag-transmission-test/httpserver-common-demo/src/main/java/com/huaweicloud/demo/tagtransmission/commonserver/utils/TagConversionUtils.java
  sermant-integration-tests/tag-transmission-test/httpserver-common-demo/src/main/resources/application.properties
  sermant-integration-tests/tag-transmission-test/rpc-api-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/rpc-api-demo/src/main/java/com/huaweicloud/demo/tagtransmission/rpc/api/alibabadubbo/AlibabaTagTransmissionService.java
  sermant-integration-tests/tag-transmission-test/rpc-api-demo/src/main/java/com/huaweicloud/demo/tagtransmission/rpc/api/apachedubbo/ApacheTagTransmissionService.java
  sermant-integration-tests/tag-transmission-test/rpc-api-demo/src/main/java/com/huaweicloud/demo/tagtransmission/rpc/api/servicecomb/ServiceCombTagTransmissionService.java
  sermant-integration-tests/tag-transmission-test/rpc-api-demo/src/main/java/com/huaweicloud/demo/tagtransmission/rpc/api/sofarpc/SofaRpcTagTransmissionService.java
Labels: area/e2e-test

#1343 修改readme文档的徽标
  README-en.md
  README.md
Labels: kind/enhancement

#1339 流量标签透传插件集成测试demo：sofarpc demo、servicecomb demo
  sermant-integration-tests/pom.xml
  sermant-integration-tests/tag-transmission-test/okhttp-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/okhttp-demo/src/main/java/com/huaweicloud/demo/tagtransmission/okhttp/OkHttpApplication.java
  sermant-integration-tests/tag-transmission-test/okhttp-demo/src/main/java/com/huaweicloud/demo/tagtransmission/okhttp/controller/OkHttpController.java
  sermant-integration-tests/tag-transmission-test/okhttp-demo/src/main/resources/application.properties
  sermant-integration-tests/tag-transmission-test/pom.xml
  sermant-integration-tests/tag-transmission-test/servicecomb-consumer-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/servicecomb-consumer-demo/src/main/java/com/huaweicloud/demo/tagtransmission/servicecomb/consumer/ServiceCombConsumerApplication.java
  sermant-integration-tests/tag-transmission-test/servicecomb-consumer-demo/src/main/java/com/huaweicloud/demo/tagtransmission/servicecomb/consumer/controller/ServiceCombConsumerController.java
  sermant-integration-tests/tag-transmission-test/servicecomb-consumer-demo/src/main/resources/application.yaml
  sermant-integration-tests/tag-transmission-test/servicecomb-provider-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/servicecomb-provider-demo/src/main/java/com/huaweicloud/demo/tagtransmission/servicecomb/provider/ServiceCombProviderApplication.java
  sermant-integration-tests/tag-transmission-test/servicecomb-provider-demo/src/main/java/com/huaweicloud/demo/tagtransmission/servicecomb/provider/controller/ServiceCombProviderController.java
  sermant-integration-tests/tag-transmission-test/servicecomb-provider-demo/src/main/resources/application.properties
  sermant-integration-tests/tag-transmission-test/servicecomb-provider-demo/src/main/resources/application.yaml
  sermant-integration-tests/tag-transmission-test/sofarpc-consumer-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/sofarpc-consumer-demo/src/main/java/com/huaweicloud/demo/tagtransmission/sofarpc/consumer/SofaRpcConsumerApplication.java
  sermant-integration-tests/tag-transmission-test/sofarpc-consumer-demo/src/main/java/com/huaweicloud/demo/tagtransmission/sofarpc/consumer/controller/SofaRpcConsumerController.java
  sermant-integration-tests/tag-transmission-test/sofarpc-consumer-demo/src/main/resources/application.properties
  sermant-integration-tests/tag-transmission-test/sofarpc-provider-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/sofarpc-provider-demo/src/main/java/com/huaweicloud/demo/tagtransmission/sofarpc/provider/SofaRpcProviderApplication.java
  sermant-integration-tests/tag-transmission-test/sofarpc-provider-demo/src/main/java/com/huaweicloud/demo/tagtransmission/sofarpc/provider/server/SofarpcServer.java
  sermant-integration-tests/tag-transmission-test/sofarpc-provider-demo/src/main/java/com/huaweicloud/demo/tagtransmission/sofarpc/provider/serviceimpl/SofaRpcTagTransmissionServiceImpl.java
  sermant-integration-tests/tag-transmission-test/sofarpc-provider-demo/src/main/resources/application.properties
Labels: area/e2e-test

#1344 新增JSSE指标采集
  sermant-agentcore/sermant-agentcore-config/config/plugins.yaml
  sermant-plugins/pom.xml
  sermant-plugins/sermant-jsse/config/config.yaml
  sermant-plugins/sermant-jsse/jsse-plugin/pom.xml
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/common/Constants.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/config/JsseConfig.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/declarer/AbstractDeclarer.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/declarer/alibaba/DecodeDeclarer.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/declarer/alibaba/EncodeDeclarer.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/declarer/alibaba/HandlerDeclarer.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/declarer/alibaba/InvokeDeclarer.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/declarer/apache/DecodeDeclarer.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/declarer/apache/EncodeDeclarer.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/declarer/apache/HandlerDeclarer.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/declarer/apache/InvokeDeclarer.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/entity/JsseInfo.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/entity/JsseLinkInfo.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/entity/JsseRpcInfo.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/interceptor/alibaba/CodecInterceptor.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/interceptor/alibaba/HandlerInterceptor.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/interceptor/alibaba/InvokeInterceptor.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/interceptor/apache/CodecInterceptor.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/interceptor/apache/HandlerInterceptor.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/interceptor/apache/InvokeInterceptor.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/java/com/huawei/jsse/manager/JsseManager.java
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-plugins/sermant-jsse/jsse-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.config.PluginConfig
  sermant-plugins/sermant-jsse/jsse-service/pom.xml
  sermant-plugins/sermant-jsse/jsse-service/src/main/java/com/huawei/jsse/service/JsseService.java
  sermant-plugins/sermant-jsse/jsse-service/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.service.PluginService
  sermant-plugins/sermant-jsse/pom.xml
Labels: kind/enhancement, area/plugin

#1345 流量标签透传插件集成测试demo：grpc demo、crossthread demo、util demo
  .github/actions/common/plugin-change-check/action.yml
  sermant-integration-tests/scripts/tryDownloadMidware.sh
  sermant-integration-tests/tag-transmission-test/crossthread-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/crossthread-demo/src/main/java/com/huaweicloud/demo/tagtransmission/crossthread/CrossThreadApplication.java
  sermant-integration-tests/tag-transmission-test/crossthread-demo/src/main/java/com/huaweicloud/demo/tagtransmission/crossthread/controller/CrossThreadController.java
  sermant-integration-tests/tag-transmission-test/crossthread-demo/src/main/resources/application.properties
  sermant-integration-tests/tag-transmission-test/grpc-api-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/grpc-api-demo/src/main/proto/grpctest.proto
  sermant-integration-tests/tag-transmission-test/grpc-client-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/grpc-client-demo/src/main/java/com/huaweicloud/demo/tagtransmission/grpc/client/GrpcClientApplication.java
  sermant-integration-tests/tag-transmission-test/grpc-client-demo/src/main/java/com/huaweicloud/demo/tagtransmission/grpc/client/controller/GrpcClientController.java
  sermant-integration-tests/tag-transmission-test/grpc-client-demo/src/main/resources/application.properties
  sermant-integration-tests/tag-transmission-test/grpc-server-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/grpc-server-demo/src/main/java/com/huaweicloud/demo/tagtransmission/grpc/server/GrpcServer.java
  sermant-integration-tests/tag-transmission-test/grpc-server-demo/src/main/java/com/huaweicloud/demo/tagtransmission/grpc/server/GrpcServerApplication.java
  sermant-integration-tests/tag-transmission-test/grpc-server-demo/src/main/java/com/huaweicloud/demo/tagtransmission/grpc/server/serviceimpl/GrpcTagTransmissionServiceImpl.java
  sermant-integration-tests/tag-transmission-test/grpc-server-demo/src/main/resources/application.properties
  sermant-integration-tests/tag-transmission-test/tag-transmission-util-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/tag-transmission-util-demo/src/main/java/com/huaweicloud/demo/tagtransmission/util/HttpClientUtils.java
Labels: area/e2e-test

#1336 AgentCore的字节码增强测试：测试应用部分
  .github/actions/scenarios/agentcore/agentmain/action.yml
  .github/actions/scenarios/agentcore/common/action.yml
  .github/actions/scenarios/agentcore/premain/action.yml
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/controller/TestController.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/results/ClassMatchResults.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/results/EnhanceResults.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/results/MethodMatchResults.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/results/ReTransformResults.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/router/ControllerHandler.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/classmatch/AnnotationTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/classmatch/AnnotationsTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/classmatch/ClassMatchersTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/classmatch/NameInfixTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/classmatch/NameTestSuffix.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/classmatch/PrefixNameTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/classmatch/SuperTypeTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/classmatch/SuperTypesTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/enhancement/EnhancementTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/methodmatch/MethodMatchersTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/retransform/ReTransformTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/retransform/GetAllStackTracesInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/retransform/NoParamsConstructorInterceptor.java
Labels: kind/enhancement, area/e2e-test

#1335 支持重复安装插件，通过'#'分隔插件副本，插件服务和配置的Key信息携带类加载器
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/PluginManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/common/PluginSchemaValidator.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/config/PluginConfigManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/service/PluginServiceManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/service/ServiceManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/utils/KeyGenerateUtils.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/test/java/com/huawei/dubbo/registry/NacosRegistryFactoryTest.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/test/java/com/huawei/dubbo/registry/RegistryFactoryTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/client/BaseTest.java
Labels: kind/enhancement, area/framework

#1346 支持重复安装插件，通过'#'分隔插件副本，插件服务和配置的Key信息携带类加载器
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/PluginManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/common/PluginSchemaValidator.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/config/PluginConfigManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/service/PluginServiceManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/service/ServiceManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/utils/KeyGenerateUtils.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/test/java/com/huawei/dubbo/registry/NacosRegistryFactoryTest.java
  sermant-plugins/sermant-service-registry/dubbo-registry-plugin/src/test/java/com/huawei/dubbo/registry/RegistryFactoryTest.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/client/BaseTest.java
Labels: kind/enhancement, area/framework

#1348 流量标签透传插件集成测试demo：tomcat demo、jetty demo、jdkhttp demo、httpclientv3 dem…
  sermant-integration-tests/tag-transmission-test/httpclientv3-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/httpclientv3-demo/src/main/java/com/huaweicloud/demo/tagtransmission/httpclientv3/HttpClientApplication.java
  sermant-integration-tests/tag-transmission-test/httpclientv3-demo/src/main/java/com/huaweicloud/demo/tagtransmission/httpclientv3/controller/HttpClientV3Controller.java
  sermant-integration-tests/tag-transmission-test/httpclientv3-demo/src/main/resources/application.properties
  sermant-integration-tests/tag-transmission-test/httpclientv4-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/httpclientv4-demo/src/main/java/com/huaweicloud/demo/tagtransmission/httpclientv4/HttpClientApplication.java
  sermant-integration-tests/tag-transmission-test/httpclientv4-demo/src/main/java/com/huaweicloud/demo/tagtransmission/httpclientv4/controller/HttpClientV4Controller.java
  sermant-integration-tests/tag-transmission-test/httpclientv4-demo/src/main/resources/application.properties
  sermant-integration-tests/tag-transmission-test/jdkhttp-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/jdkhttp-demo/src/main/java/com/huaweicloud/demo/tagtransmission/jdkhttp/JdkHttpApplication.java
  sermant-integration-tests/tag-transmission-test/jdkhttp-demo/src/main/java/com/huaweicloud/demo/tagtransmission/jdkhttp/controller/JdkHttpController.java
  sermant-integration-tests/tag-transmission-test/jdkhttp-demo/src/main/resources/application.properties
  sermant-integration-tests/tag-transmission-test/jetty-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/jetty-demo/src/main/java/com/huaweicloud/demo/tagtransmission/jettyserver/HttpJettyApplication.java
  sermant-integration-tests/tag-transmission-test/jetty-demo/src/main/java/com/huaweicloud/demo/tagtransmission/jettyserver/controller/ServerController.java
  sermant-integration-tests/tag-transmission-test/jetty-demo/src/main/resources/application.properties
  sermant-integration-tests/tag-transmission-test/midware-common-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/midware-common-demo/src/main/java/com/huaweicloud/demo/tagtransmission/midware/common/MessageConstant.java
  sermant-integration-tests/tag-transmission-test/rocketmq-consumer-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/rocketmq-consumer-demo/src/main/java/com/huaweicloud/demo/tagtransmission/rocketmq/consumer/RocketMqConsumer.java
  sermant-integration-tests/tag-transmission-test/rocketmq-consumer-demo/src/main/java/com/huaweicloud/demo/tagtransmission/rocketmq/consumer/RocketMqConsumerApplication.java
  sermant-integration-tests/tag-transmission-test/rocketmq-consumer-demo/src/main/java/com/huaweicloud/demo/tagtransmission/rocketmq/consumer/controller/RocketMqConsumerController.java
  sermant-integration-tests/tag-transmission-test/rocketmq-consumer-demo/src/main/resources/application.properties
  sermant-integration-tests/tag-transmission-test/tomcat-demo/pom.xml
  sermant-integration-tests/tag-transmission-test/tomcat-demo/src/main/java/com/huaweicloud/demo/tagtransmission/tomcatserver/HttpTomcatApplication.java
  sermant-integration-tests/tag-transmission-test/tomcat-demo/src/main/java/com/huaweicloud/demo/tagtransmission/tomcatserver/controller/ServerController.java
  sermant-integration-tests/tag-transmission-test/tomcat-demo/src/main/resources/application.properties
Labels: area/e2e-test
