Repository sermant-io/Sermant, pull requests merged in 2023-09, with the labels that each got.

#1294 readme文档修改demo应用启动路径
  README-en.md
  README.md
Labels: kind/enhancement, area/docs

#1292 动态配置核心服务支持nacos：配置服务类、配置订阅类
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/dynamicconfig/BufferedDynamicConfigService.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/dynamicconfig/nacos/DynamicConfigSubscribe.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/dynamicconfig/nacos/NacosBufferedClient.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/dynamicconfig/nacos/NacosDynamicConfigService.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/dynamicconfig/nacos/NacosUtils.java
Labels: kind/feature, area/framework

#1293 JDK17支持：升级Lombok版本、ByteBuddy版本、新增Shenandoah收集器指标信息
  pom.xml
  sermant-agentcore/sermant-agentcore-core/pom.xml
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/BufferedAgentBuilder.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/collector/PluginCollectorManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/agent/transformer/DefaultTransformer.java
  sermant-backend/pom.xml
  sermant-integration-tests/dubbo-test/dubbo-integration-test/src/test/java/com/huaweicloud/integration/common/MetricEnum.java
  sermant-integration-tests/dubbo-test/dubbo-integration-test/src/test/java/com/huaweicloud/integration/common/MetricEnumJDK12.java
  sermant-integration-tests/dubbo-test/dubbo-integration-test/src/test/java/com/huaweicloud/integration/common/MetricEnumJDK8.java
  sermant-integration-tests/dubbo-test/dubbo-integration-test/src/test/java/com/huaweicloud/integration/common/MetricEnumJDK9.java
  sermant-integration-tests/dubbo-test/dubbo-integration-test/src/test/java/com/huaweicloud/integration/monitor/MonitorTest.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/common/MetricEnum.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/common/MetricEnumJDK12.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/common/MetricEnumJDK8.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/common/MetricEnumJDK9.java
  sermant-integration-tests/spring-test/spring-intergration-test/src/test/java/com/huaweicloud/intergration/monitor/MonitorTest.java
  sermant-plugins/sermant-monitor/monitor-service/src/main/java/com/huawei/monitor/common/MemoryType.java
  sermant-plugins/sermant-monitor/monitor-service/src/main/java/com/huawei/monitor/common/MetricEnum.java
  sermant-plugins/sermant-monitor/monitor-service/src/main/java/com/huawei/monitor/service/collector/JvmCollectorService.java
Labels: kind/enhancement, area/plugin, area/e2e-test

#1288 流量标签透传插件支持grpc框架
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/pom.xml
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/declarers/rpc/grpc/ClientCallImplDeclarer.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/declarers/rpc/grpc/GrpcServerDeclarer.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/enumeration/SpecialExecutor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/crossthread/AbstractExecutorInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/grpc/ClientCallImplInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/grpc/GrpcServerInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/grpc/ServerHeaderInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/pojo/TrafficMessage.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/wrapper/AbstractThreadWrapper.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/wrapper/CallableWrapper.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/wrapper/RunnableAndCallableWrapper.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/wrapper/RunnableWrapper.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/test/java/com/huaweicloud/sermant/tag/transmission/interceptors/crossthread/ExecutorInterceptorTest.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/test/java/com/huaweicloud/sermant/tag/transmission/interceptors/crossthread/ScheduledExecutorServiceInterceptorTest.java
Labels: kind/feature, area/plugin

#1297 流量标签透传特性：支持标签键的前缀后缀匹配方式
  sermant-plugins/sermant-tag-transmission/config/config.yaml
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/config/TagTransmissionConfig.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/config/strategy/ExactMatchStrategy.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/config/strategy/MatchStrategy.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/config/strategy/PrefixMatchStrategy.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/config/strategy/SuffixMatchStrategy.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/config/strategy/TagKeyMatcher.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/http/client/httpclient/HttpClient3xInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/http/client/httpclient/HttpClient4xInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/http/client/jdk/JdkHttpClientInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/http/client/okhttp/OkHttp2xInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/http/server/HttpServletInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/mq/kafka/KafkaConsumerRecordInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/mq/kafka/KafkaProducerInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/mq/rocketmq/RocketmqConsumerInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/mq/rocketmq/RocketmqProducerInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/dubbo/AlibabaDubboConsumerInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/dubbo/AlibabaDubboProviderInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/dubbo/ApacheDubboConsumerInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/dubbo/ApacheDubboProviderInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/grpc/ClientCallImplInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/grpc/ServerHeaderInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/servicecomb/ServiceCombRpcConsumerInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/servicecomb/ServiceCombRpcProviderInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/sofarpc/SofaRpcClientInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/sofarpc/SofaRpcServerInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/test/java/com/huaweicloud/sermant/tag/transmission/interceptors/BaseInterceptorTest.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-service/src/main/java/com/huaweicloud/sermant/tag/transmission/listener/TagConfigListener.java
Labels: kind/feature, area/plugin

#1301 动态配置核心服务支持nacos：UT、bug修改
  .github/workflows/Codecov.yml
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/dynamicconfig/nacos/NacosDynamicConfigService.java
  sermant-agentcore/sermant-agentcore-implement/src/test/java/com/huaweicloud/sermant/implement/service/dynamicconfig/nacos/DynamicConfigSubscribeTest.java
  sermant-agentcore/sermant-agentcore-implement/src/test/java/com/huaweicloud/sermant/implement/service/dynamicconfig/nacos/NacosBaseTest.java
  sermant-agentcore/sermant-agentcore-implement/src/test/java/com/huaweicloud/sermant/implement/service/dynamicconfig/nacos/NacosDynamicConfigServiceTest.java
  sermant-agentcore/sermant-agentcore-implement/src/test/java/com/huaweicloud/sermant/implement/service/dynamicconfig/nacos/TestListener.java
  sermant-integration-tests/scripts/tryDownloadMidware.sh
Labels: area/framework, kind/unit-test

#1304 agentcore集成测试：测试框架、动态配置的部分测试
  sermant-integration-tests/agentcore-test/agentcore-integration-test/pom.xml
  sermant-integration-tests/agentcore-test/agentcore-integration-test/src/test/java/com/huaweicloud/agentcore/test/request/AgentcoreTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/pom.xml
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/AgentCoreTestApplication.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/controller/TestController.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/results/DynamicConfigResults.java
  sermant-integration-tests/agentcore-test/agentcore-test-application/src/main/java/com/huaweicloud/agentcore/test/application/tests/dynamicconfig/DynamicConfigTest.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/pom.xml
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-integration-tests/agentcore-test/pom.xml
  sermant-integration-tests/pom.xml
Labels: area/framework, area/plugin, area/e2e-test

#1306 流量标签透传插件：grpc模块 UT
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/test/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/grpc/ClientCallImplInterceptorTest.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/test/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/grpc/ServerHeaderInterceptorTest.java
Labels: area/plugin, kind/unit-test

#1308 Agent卸载及插件卸载
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/AgentCoreEntrance.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/command/AgentUnInstallCommandExecutor.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/command/PluginsUnInstallCommandExecutor.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/config/ConfigManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/event/EventManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/operation/OperationManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/PluginManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/config/PluginConfigManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/service/PluginServiceManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/service/ServiceManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/service/heartbeat/common/HeartbeatMessage.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/utils/TimeUtils.java
  sermant-agentcore/sermant-agentcore-god/src/main/java/com/huaweicloud/sermant/core/plugin/agent/adviser/AdviserScheduler.java
  sermant-plugins/sermant-service-registry/spring-cloud-registry-service/src/test/java/com/huawei/registry/service/client/BaseTest.java
  sermant-plugins/sermant-service-removal/removal-plugin/src/test/java/com/huaweicloud/sermant/cache/RuleCacheTest.java
  sermant-plugins/sermant-service-removal/removal-service/src/test/java/com/huaweicloud/sermant/service/RequestDataCountTaskTest.java
Labels: kind/feature, area/framework

#1310 流量标签透传插件：优化servicecomb 服务端拦截场景
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/declarers/rpc/servicecomb/ServiceCombRpcProviderDeclarer.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/http/server/HttpServletInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/servicecomb/ServiceCombRpcProviderInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/service/ServiceCombHeaderParseService.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/test/java/com/huaweicloud/sermant/tag/transmission/interceptors/http/server/HttpServletInterceptorTest.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/test/java/com/huaweicloud/sermant/tag/transmission/interceptors/rpc/servicecomb/ServiceCombRpcProviderInterceptorTest.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-service/pom.xml
  sermant-plugins/sermant-tag-transmission/tag-transmission-service/src/main/java/com/huaweicloud/sermant/tag/transmission/service/ServiceCombHeaderParseServiceImpl.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-service/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.service.PluginService
Labels: kind/enhancement, area/plugin

#1311 流量标签透传插件：优化rocketmq和跨线程日志的性能消耗
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/declarers/mq/rocketmq/RocketmqProducerSendDeclarer.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/declarers/mq/rocketmq/RocketmqProducerStartDeclarer.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/crossthread/AbstractExecutorInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/mq/rocketmq/RocketmqConsumerInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/mq/rocketmq/RocketmqProducerSendInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/interceptors/mq/rocketmq/RocketmqProducerStartInterceptor.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/utils/RocketmqProducerMarkUtils.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/java/com/huaweicloud/sermant/tag/transmission/wrapper/AbstractThreadWrapper.java
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
  sermant-plugins/sermant-tag-transmission/tag-transmission-plugin/src/test/java/com/huaweicloud/sermant/tag/transmission/interceptors/mq/rocketmq/RocketmqProducerInterceptorTest.java
Labels: kind/enhancement, area/plugin

#1307 agentcore集成测试：补充测试插件、自动化测试流水线
  .github/actions/common/agentcore/action.yml
  .github/actions/scenarios/agentcore/action.yml
  .github/workflows/agentcore_integration_test.yml
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/constants/TestConstants.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/declarer/dynamicconfig/TestDynamicConfigDeclarer.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/dynamicconfig/AddConfigListenerInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/dynamicconfig/AddGroupConfigListenerInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/dynamicconfig/GetConfigInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/dynamicconfig/PublishConfigInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/dynamicconfig/RemoveConfigInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/dynamicconfig/RemoveConfigListenerInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/interceptor/dynamicconfig/RemoveGroupConfigListenerInterceptor.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/java/com/huaweicloud/agentcore/tests/plugin/listener/TestListener.java
  sermant-integration-tests/agentcore-test/agentcore-test-plugin/src/main/resources/META-INF/services/com.huaweicloud.sermant.core.plugin.agent.declarer.PluginDeclarer
Labels: area/framework, area/plugin, area/e2e-test

#1317 增加全局路由规则
  sermant-plugins/sermant-router/config/config.yaml
  sermant-plugins/sermant-router/dubbo-router-service/src/main/java/com/huaweicloud/sermant/router/dubbo/service/AbstractDirectoryServiceImpl.java
  sermant-plugins/sermant-router/router-common/src/main/java/com/huaweicloud/sermant/router/common/config/RouterConfig.java
  sermant-plugins/sermant-router/router-common/src/main/java/com/huaweicloud/sermant/router/common/constants/RouterConstant.java
  sermant-plugins/sermant-router/router-config-common/pom.xml
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/entity/EnabledStrategy.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/entity/RouterConfiguration.java
  sermant-plugins/sermant-router/router-config-common/src/main/java/com/huaweicloud/sermant/router/config/utils/RuleUtils.java
  sermant-plugins/sermant-router/router-config-common/src/test/java/com/huaweicloud/sermant/router/config/entity/EnabledStrategyTest.java
  sermant-plugins/sermant-router/router-config-service/src/main/java/com/huaweicloud/sermant/router/config/handler/GlobalConfigHandler.java
  sermant-plugins/sermant-router/router-config-service/src/main/java/com/huaweicloud/sermant/router/config/listener/RouterConfigListener.java
  sermant-plugins/sermant-router/router-config-service/src/test/java/com/huaweicloud/sermant/router/config/handler/EnabledStrategyHandlerTest.java
  sermant-plugins/sermant-router/spring-router-service/src/main/java/com/huaweicloud/sermant/router/spring/service/LoadBalancerServiceImpl.java
Labels: kind/enhancement, area/plugin

#1319 开源组件版本更新
  pom.xml
  sermant-agentcore/sermant-agentcore-implement/pom.xml
Labels: kind/enhancement

#1324 将配置项描述放入配置文件中，修复插件卸载后心跳依然上报插件信息的bug
  sermant-agentcore/sermant-agentcore-config/config/bootstrap.properties
  sermant-agentcore/sermant-agentcore-config/config/config.properties
  sermant-agentcore/sermant-agentcore-config/config/plugins.yaml
  sermant-agentcore/sermant-agentcore-config/config/test/config.properties
  sermant-agentcore/sermant-agentcore-config/config/test/plugins.yaml
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/PluginManager.java
  sermant-agentcore/sermant-agentcore-core/src/main/java/com/huaweicloud/sermant/core/plugin/common/PluginSchemaValidator.java
  sermant-agentcore/sermant-agentcore-implement/src/main/java/com/huaweicloud/sermant/implement/service/heartbeat/HeartbeatServiceImpl.java
Labels: kind/enhancement, area/framework
